[2018-01-09 14:43] VladimirPal opened #14 "Total logged not updated after loading worklog"
Total logged not updated after loading worklog.
I thinks some issue with selector.

<img width="400" alt="chronos" src="https://user-images.githubusercontent.com/555405/34726173-eef0d2b8-f55b-11e7-91c1-c67914901d74.png">

[2018-01-09 14:50] VladimirPal opened #15 "Autofocus on worklog comment input"
<img width="400" alt="chronos" src="https://user-images.githubusercontent.com/555405/34726583-29906cfc-f55d-11e7-8198-a292d9693cff.png">

[2018-01-09 14:55] VladimirPal opened #16 "Autoclose notify flag after 10 seconds"
<img width="400" alt="chronos_and_1___applications_macvim_app_contents_macos_vim__vim_" src="https://user-images.githubusercontent.com/555405/34726814-c0ec3568-f55d-11e7-84e6-8dfbd0d20f05.png">

[2018-01-09 14:57] VladimirPal opened #17 "Clear worklog comment after log work action"

[2018-01-09 14:59] VladimirPal opened #18 "Remember issues filter"
We need to save selected filters and apply it when application start.

Also make cursor as pointer on filter and refresh buttons.

[2018-01-09 15:14] VladimirPal opened #19 "Fix electron-updater for Linux"
Currently it doesn't work.

[2018-01-09 15:22] VladimirPal opened #20 "Update popup with release changelog"
Automatically display update popup with changelog and checkbox "Download and update automatically". Popup shouldn't be display if checkbox selected.
In confirmation modal(app updated, do you want to restart app?) also display latest release changelog.

[2018-01-09 15:28] VladimirPal opened #21 "Embedded images not displaying"
On JIRA, if there is only a image (no text) in the description, the embedded image does not display.

![2018-01-02 - cronos screenshot](https://user-images.githubusercontent.com/555405/34728393-7b5ca866-f562-11e7-9f9d-46f41c2cd9ac.png)

[2018-01-09 15:31] VladimirPal opened #22 "Link to the github on help section"
Also add "About" tab on settings modal with few words about app and github link.

[2018-01-09 15:32] VladimirPal opened #23 "Use native password manager"

[2018-01-09 15:36] VladimirPal opened #24 "Estimated and Remaining confused"
<img width="338" alt="chronos" src="https://user-images.githubusercontent.com/555405/34728828-9d23db6c-f563-11e7-8198-89037b368a90.png">

[2018-01-09 15:46] VladimirPal opened #25 "Sort descending worklogs by date"

[2018-01-09 15:49] VladimirPal opened #26 "Show edited worklogs"
<img width="400" alt="_pal-9__refactoring_orderspage__delivermd_-_web-pal_" src="https://user-images.githubusercontent.com/555405/34729494-7cc909da-f565-11e7-822a-4a9d5118cded.png">

[2018-01-09 18:33] VladimirPal opened #27 "Constantly highlight selected worklog from recent worklogs"
<img width="400" alt="chronos" src="https://user-images.githubusercontent.com/555405/34736618-41cb4408-f57c-11e7-9c8f-6f4c12aafea3.png">

[2018-01-09 18:37] VladimirPal opened #28 "Show button on Recent worklogs"
Create button "Show", should be displayed on hover.
On click - select worklog, change tab to Worklogs and scroll to selected worklog.

<img width="400" alt="chronos" src="https://user-images.githubusercontent.com/555405/34736731-99e38678-f57c-11e7-9837-4aa8e355da58.png">

[2018-01-10 13:20] VladimirPal opened #29 "Jira auth url with additional slug"
Our auth form does not assume the use jira link with additional slug(for instance /jira).

[2018-01-11 18:44] #29 closed

[2018-01-12 12:12] #24 closed

[2018-01-12 18:53] #26 closed

[2018-01-13 22:14] ASAPHAANING opened #34 "Request: Support for self-hosted Jira software servers."

[2018-01-14 22:07] VladimirPal commented on #34
Hi! Can you give us more details please?
We already have such functionality, you can connect to self-hosted jira.

[2018-01-14 22:22] ASAPHAANING commented on #34
@VladimirPal Doesn't work. I tried giving it my URL, then prompt it with my username(my self hosted jira doesnt accept email like the chronos credentials placeholder field requires) but it never works.

I'm on Linux x86-64.

[2018-01-15 08:59] ooredroxoo opened #35 "Worklog start time is saved as if it had started when we hit the stop button."
## Expected Behavior
That the worklog was saved with the start time being the time that we hit start and the end time as being the time we pressed the stop button.

## Actual Behavior
Worklog start time is saved as if it had started when we hit the stop button.

## Steps to Reproduce the Problem

  1. Press play at some issue and start work on something.
  2. After while (like a hour) hit the stop

[2018-01-15 09:28] ooredroxoo commented on #35
I believe that the started parameter isn't being set correctly on this file -> https://github.com/web-pal/chronos-timetracker/blob/master/app/sagas/worklogs.js, for the worklog to be properly logged it should have a started parameter configured as stated here -> https://docs.atlassian.com/software/jira/docs/api/REST/7.6.1/?_ga=2.77754577.477393236.1516008065-2038003441.1510715626#api/2/issue-addWo

[2018-01-15 10:40] VladimirPal commented on #34
@ASAPHAANING We don't have any constraints for self-hosted server, can you check last version please?
https://chronos-api.web-pal.com/release/AppImage

[2018-01-15 11:17] VladimirPal commented on #16
We can't do it, since it hardcoded in flag component https://bitbucket.org/atlassian/atlaskit-mk-2/src/bb3f20a7b056fe4383aac7d2c94c711277cfd8bf/packages/elements/flag/src/components/AutoDismissFlag/index.js?at=master&fileviewer=file-view-default#index.js-6
I believe they fix it soon.
For now flag will live 15 seconds

[2018-01-15 11:17] #16 closed

[2018-01-15 12:52] VladimirPal commented on #35
@ooredroxoo Fixed, we'll deploy it on 2.4.3

[2018-01-15 12:52] #35 closed

[2018-01-15 13:33] ASAPHAANING commented on #34
Tried this new version on two different computers, still can't log in. When I go back to step 1 (URL) I notice that an SSL enabled HTTP URL has been added although I typed the regular HTTP. Could this be the cause of the error?

[2018-01-15 13:35] Architektor commented on #34
@ASAPHAANING what if you remove "s" from https and try to login? It still replaces http with https even if you remove the "s" manually?

[2018-01-15 13:45] #14 closed

[2018-01-15 14:24] VladimirPal commented on #34
@ASAPHAANING It could be cause of the error, but we can't reproduce it, it's strange.

[2018-01-15 16:18] #28 closed

[2018-01-15 16:18] #27 closed

[2018-01-15 16:18] #15 closed

[2018-01-15 16:54] #17 closed

[2018-01-15 18:12] #25 closed

[2018-01-15 18:29] VladimirPal commented on #18
It doesn't work for Issue types

[2018-01-15 18:41] VladimirPal opened #44 "Recent worklogs not scrollable"

[2018-01-15 18:54] VladimirPal commented on #34
@ASAPHAANING We just released 2.4.3, could you check please?

[2018-01-15 20:25] #23 closed

[2018-01-15 22:21] ASAPHAANING commented on #34
Tried 2.4.3, thanks. That certainly fixed the https -> http error but I am still unable to log in. It still prompts for an email although my jira only accepts username logins, maybe there's something there?

[2018-01-15 22:55] VladimirPal commented on #34
Despite the fact that input placeholder "Enter email" you can enter any data, we don't have email validation.
We have a working users with self-hosted jira.
Can you figure out your Jira server version?

[2018-01-16 09:24] Architektor commented on #44
Every sidebar not scrollable, not only recent worklogs

[2018-01-16 09:41] ASAPHAANING commented on #34
That's what I thought. Doesn't work with my username though. The jira server version:

v7.0.9#70119

[2018-01-16 12:47] #44 closed

[2018-01-16 17:50] ooredroxoo opened #46 "Statuses Filter Section doesn't list all available statuses."
## Expected Behavior
The status filter session display all statuses.

## Actual Behavior
The status filter session display (at my instance) only 5 statuses.

## Steps to Reproduce the Problem

  1. Click filter icon on the right side from the search input.
  2. View the number of statuses.

## Specifications

  - Chronos-timetracker version: 2.4.3
  - OS: Windows 10 Pro

Chronos Status Filter Sect

[2018-01-16 17:59] VladimirPal commented on #46
Do you have issues with missed statuses? The app display only statuses that exists in issues.

[2018-01-16 18:02] ooredroxoo commented on #46
Yes I have issues using those statuses.

In my case I wanna filter by itens that are awaiting for support ("Esperando por suporte"), From my 589 issues 23 are on this state.

![image](https://user-images.githubusercontent.com/1323140/35004193-4adcad70-fad6-11e7-82da-7bc2271f4077.png)

![image](https://user-images.githubusercontent.com/1323140/35004256-7e032026-fad6-11e7-928d-d5015acf464b.png)

[2018-01-16 18:04] ooredroxoo commented on #46
I also noticed that the status filter change from project to project, my other project seems to be fine, but this is displaying this error.

I had to blur the issue title for security reasons.

[2018-01-16 18:06] VladimirPal commented on #34
We found the bug and fixed it in 2.4.4 version, but working with jira-client without https may cause some issues, check it please.

[2018-01-16 18:45] VladimirPal commented on #46
Thank you, we'll try to figure out and fix

[2018-01-18 09:51] VladimirPal commented on #21
I have no idea why it happens, but sometimes it works and sometimes it does not.

<img width="600" alt="fullscreen_1_18_18__11_49_am" src="https://user-images.githubusercontent.com/555405/35091681-e277ab6a-fc45-11e7-8501-578cdcc08bab.png">

[2018-01-18 10:16] VladimirPal commented on #21
I've figure out why it happens, jira send us html with media links, but this media available only if you have authorized in your browser. But we are not.
Example link: https://web-pal.atlassian.net/secure/thumbnail/13273/DeliverMD.png
If we use OAuth, it will work.
Somehow we need to authdorized electron requests

[2018-01-18 11:24] #21 closed

[2018-01-18 11:31] VladimirPal opened #47 "Feature request: Favorites for projects"
We've got this feature request from one of our client:

[2018-01-18 13:12] ASAPHAANING commented on #34
Will do @VladimirPal, now it's confirmed working on my end! ;) I did have to manually add "http://" to my url though, just a UX note.

[2018-01-18 13:25] itpimp commented on #21
Works like a dream on 2.4.6. Thanks Vladimir

Richard from PayThem.Net

[2018-01-18 13:29] #34 closed

[2018-01-25 11:37] JimTim opened #48 "Ticket search for all projects"
## Expected Behavior
If I am searching for a ticket in all projects, I should see a corresponding list. Since this search takes longer, I should get some information about it. It should also be possible to deactivate certain projects for the search.

## Actual Behavior
The search only works per project.

## Steps to Reproduce the Problem
-

## Specifications

  - Chronos-timetracker version: 2.4.6

[2018-01-25 11:39] JimTim opened #49 "Create jira tickets via Chronos"
## Expected Behavior
As a user of Chronos, I want to be able to create tickets for projects via the interface.

## Actual Behavior
I cannot create tickets

## Steps to Reproduce the Problem
-
## Specifications

  - Chronos-timetracker version: 2.4.6
  - OS:

[2018-01-25 11:43] JimTim opened #50 "Comment after times were tracked"
## Expected Behavior
When I finish tracking on a ticket, I want to see a dialog where I am asked for a comment. This should be optional and can be deactivated by a setting.

## Actual Behavior
Currently, the worklog is saved without comment after the end of the tracking. I have to edit this worklog afterwards.

## Steps to Reproduce the Problem
-
## Specifications

  - Chronos-timetracker version:

[2018-01-25 11:50] JimTim opened #51 "If I have a long list of worklogs, I sometimes see the wrong entry"
## Expected Behavior
I should always see the correct list of worklogs. The list should also be pageed. This may reduce the number of requests to the Jira server.

## Actual Behavior
Currently you get all worklogs as a long list. Sometimes this list is not correct and shows worklogs twice. Or a worklog content is in the wrong place to the wrong timestamp.

## Steps to Reproduce the Problem

  1. Lo

[2018-01-25 11:52] JimTim commented on #51
I can send you a non-public gif. To which address should I send the gif?

[2018-01-25 11:57] JimTim opened #52 "As a user, I would like to have the possibility to select the current time stamp when manually tracking a ticket."
## Expected Behavior
As a user, I would like to have the possibility to select the current time stamp when manually tracking a ticket.

## Actual Behavior
Currently, the date is taken where chronos was started. Under MacOs, however, the programs are permanently open. This means that after two days, the date of 2 days ago is also displayed there when you manually track.

## Steps to Reproduce the P

[2018-01-25 11:59] JimTim opened #53 "As a user I would like to have the possibility to enter a standard time and not always see the last time entry."
## Expected Behavior
As a user I would like to have the possibility to enter a standard time and not always see the last time entry.

## Actual Behavior
With every manual worklog you can see the time length of the last worklog. In this way, you really must always change it.

## Steps to Reproduce the Problem

  1. Create Worklog
  1. Create a new Worklog
  1.

## Specifications

  - Chronos-timetr

[2018-01-25 12:01] JimTim opened #54 "As a user I want to search for direct ticket numbers (including project abbreviations)"
## Expected Behavior
As a user I want to search for direct ticket numbers (including project abbreviations)

## Actual Behavior
doesn't yet work like this

## Steps to Reproduce the Problem

  1. open search and search for ticket numbers

## Specifications

  - Chronos-timetracker version: 2.4.6
  - OS: MacOS

[2018-01-25 12:10] Architektor commented on #50
@JimTim you can actually set comment if you click pencil icon in tracking bar (see screenshot)
<img width="913" alt="chronos" src="https://user-images.githubusercontent.com/4680555/35387696-73a17740-01d9-11e8-9e8f-8953b497ca0b.png">

[2018-01-25 12:11] Architektor commented on #51
@JimTim feel free to send it to vlad@web-pal.com

[2018-01-25 12:13] #50 closed

[2018-01-25 12:16] Architektor commented on #54
You can search by direct ticket numbers but you need to enter just a number, without the project abbreviation. This is due to Jira search technical limitations. See screenshot.
<img width="435" alt="chronos 2" src="https://user-images.githubusercontent.com/4680555/35387918-5ccedf84-01da-11e8-98d9-de0b3fa172fc.png">

[2018-01-25 12:22] JimTim commented on #51
Your message wasn't delivered to vlad@web-pal.com because the address couldn't be found, or is unable to receive mail. 4.2 MB Gif

[2018-01-25 12:25] VladimirPal commented on #51
@JimTim Wrong email, sorry.
Try mail.vpal@gmail.com

[2018-01-29 07:33] JimTim opened #56 "Worklog comment will not be reset in case of a new tracker"
## Expected Behavior
When I start a new tracker, the comment of the old trackers should no longer be included. Otherwise, an incorrect worklog can occur.

## Actual Behavior
When I start a new tracker, the comment of the old one is included.

## Steps to Reproduce the Problem

  1. Start the tracker and adjust the comment with the Edit button.
  1. Stop and save the tracker.
  1. Now start a track

[2018-01-29 15:22] ooredroxoo opened #57 "As a User I would like to search issues using JQL"
## Expected Behavior
That we could use the search bar to input JQL and then do a more fine grained search.

## Actual Behavior
Search only works with Issues Keys and Summaries

## Specifications

  - Chronos-timetracker version: 2.4.7
  - OS: Windows 10 Pro

[2018-02-04 07:22] #19 closed

[2018-02-04 08:07] VladimirPal opened #59 "Issues list, markup bug"
<img width="442" alt="1222221" src="https://user-images.githubusercontent.com/555405/35775544-0ec9ee58-0993-11e8-9cac-7c97220e1055.png">

[2018-02-04 08:23] #18 closed

[2018-02-04 08:24] #46 closed

[2018-02-04 08:24] VladimirPal commented on #46
It was fixed(development branch).

[2018-02-04 08:26] VladimirPal commented on #49
Done(develop branch). Will be in the next release.

[2018-02-04 08:26] #49 closed

[2018-02-04 08:26] #52 closed

[2018-02-04 08:27] #53 closed

[2018-02-04 08:27] VladimirPal commented on #51
Fixed(develop branch). Will be in the next release.

[2018-02-04 08:27] #51 closed

[2018-02-04 08:28] VladimirPal commented on #54
Done(development branch). Will be in the next release.

[2018-02-04 08:28] #54 closed

[2018-02-04 09:21] VladimirPal commented on #56
Done(develop branch). Check next release

[2018-02-04 09:21] #56 closed

[2018-02-04 10:04] VladimirPal opened #60 "Logged/Remaining markup issue"
![image 2018-02-04 12 04 06](https://user-images.githubusercontent.com/555405/35776356-809e54aa-09a3-11e8-9293-c2c4fcc5b99d.jpg)

[2018-02-05 09:15] VladimirPal opened #61 "Fix "any" flow declaration"

[2018-02-05 10:54] VladimirPal commented on #49
@JimTim We released pre-release version with this functionality you can check it.

[2018-02-05 11:02] JimTim commented on #49
Looks very good. Thx

[2018-02-05 11:06] JimTim commented on #56
working, THX

[2018-02-05 11:07] JimTim commented on #54
working, THX!

[2018-02-05 11:08] JimTim commented on #52
Fixed, THX!

[2018-02-05 11:08] JimTim commented on #51
Fixed, nice, THX!

[2018-02-05 12:48] JimTim opened #62 "When the project is changed, the search should be reset."
## Expected Behavior
When the project is changed, the search should be reset.

## Actual Behavior
All settings remain in place until they are changed manually.

## Steps to Reproduce the Problem

  1. Go into a project and update the search
  1. change project
  1. Search remains and the first search, after a project change, is also executed with it

## Specifications

  - Chronos-timetracker vers

[2018-02-06 10:42] #60 closed

[2018-02-06 10:42] #59 closed

[2018-02-06 15:38] VladimirPal commented on #62
Done

[2018-02-06 15:38] #62 closed

[2018-02-07 16:13] jamesplease opened #65 "Replacing clear plugin with reset plugin"
A quick glance suggests that the [“clear” plugins you have defined](https://redux-resource.js.org/docs/extras/reset-plugin.html) could possibly be replaced with the [reset plugin.](https://redux-resource.js.org/docs/extras/reset-plugin.html)

If you tried that out, and some feature was missing, then perhaps that missing feature could be backported into the core lib to reduce the amount of app code

[2018-02-07 16:15] VladimirPal commented on #65
@jmeas Thanks, i'll try to use reset plugin, also will check new release.

[2018-02-07 16:32] JimTim opened #67 "The project search should also work with the project key"
## Expected Behavior
The project search should also work with the project key.

## Actual Behavior
Currently you can only search for the project name

## Steps to Reproduce the Problem

  1. Search for project names, e. g. Customer Success Management
  1. Ticket then has the project id as ticket id, for example CSM-1
  1. Project search for "CSM" brings but no result

## Specifications

  - Chrono

[2018-02-07 16:34] VladimirPal commented on #67
@JimTim We use jira api for search functionality, and jira do not allow to make search using only project key, i think we can't handle this issue

[2018-02-07 16:42] JimTim commented on #67
Where are the projects list fetched in this source code?

https://docs.atlassian.com/DAC/rest/jira/6.1.html#d2e3008
At least the Projectkey / ProjectId is mentioned here.

[2018-02-07 16:51] VladimirPal commented on #67
JQL query creating here https://github.com/web-pal/chronos-timetracker/blob/develop/app/sagas/issues.js#L147
Request here https://github.com/web-pal/chronos-timetracker/blob/develop/app/utils/api/issues.js#L44

[2018-02-07 17:17] JimTim commented on #67
Ah I see. But I mean the project search / project combo select box on the
top left. I doesn't mean the issue search. Thx

Vladimir <notifications@github.com> schrieb am Mi., 7. Feb. 2018, 17:51:

[2018-02-07 18:14] VladimirPal commented on #67
@JimTim I got it now, we'll fix it

[2018-02-07 18:26] JimTim commented on #67
Perfect, thank you very much

Vladimir <notifications@github.com> schrieb am Mi., 7. Feb. 2018, 19:14:

[2018-02-08 18:57] addmitriev opened #68 "Sprint filter feature is not working for JIRA Server"
Hi team,

App crashes if I choose sprint in project selector. After reopening app it's still not loading any data and showing blank screen.

My team is using JIRA Server 7.3.1.
The reason for that unexpected behaviour is that in JIRA Server Rest response there is no field "location" in [getBoard]( https://docs.atlassian.com/jira-software/REST/7.3.1/#agile/1.0/board-getBoard)  method. The "location

[2018-02-08 19:10] VladimirPal commented on #68
Thank you for the detailed issues. We'll fix it soon.

[2018-02-09 11:50] #67 closed

[2018-02-09 11:50] #68 closed

[2018-02-09 12:55] VladimirPal commented on #68
2.5.4
@JimTim Confirm please if it works

[2018-02-09 12:55] VladimirPal commented on #67
2.5.4
@JimTim Confirm please if it works

[2018-02-09 13:09] addmitriev commented on #68
👍 Works great! Thank you!

[2018-02-09 13:47] JimTim commented on #67
Works

[2018-02-12 10:26] JimTim opened #69 "Completely white page after a project has been selected."
## Expected Behavior
After choosing a project, the tickets and everything else should be displayed.

## Actual Behavior
After I have selected a certain project, the complete page will be white.

## Steps to Reproduce the Problem

  1. Select a project
  1. now everything else will be "white"
  1.

## Specifications

  - Chronos-timetracker version: 2.5.4
  - OS: MacOS

[2018-02-12 10:31] JimTim commented on #69
In 2.4.7 the problem does not exist, i. e. it is caused by anything between 2.5. x and 2.5.4. I can also have a look at the error logs later on, about 6 pm German time.

[2018-02-12 10:32] VladimirPal commented on #69
@JimTim Thank you for the issue, we'll try figure out the reason.

[2018-02-12 10:33] JimTim commented on #69
@VladimirPal Perfect, thank you. Let me know if there's anything I can look up in the console log. It's not really a special project.

[2018-02-12 10:34] VladimirPal commented on #69
@JimTim We collect all errors automatically, apiomat.com - it's you?

[2018-02-12 10:37] JimTim commented on #69
@VladimirPal In 2.4.7 everything is still working. 2.5.1 shows the white page

[2018-02-12 10:38] JimTim commented on #69
Yeah it's me :-) or all of us: -)

[2018-02-12 10:39] VladimirPal commented on #69
@JimTim
Every user is experiencing the issue?
Try to remove storage and launch app again:
[code]

[2018-02-12 10:41] JimTim commented on #69
Yes, everybody has problems with this project and after that he tries to load the last project, so there is always a white page. I will try to remove the folder now.

[2018-02-12 10:42] VladimirPal commented on #69
@JimTim So it happens only with one project?

[2018-02-12 10:45] JimTim commented on #69
Yes, maybe because the project key is the same name as the board?
For Example:
Project name: example name
Projectkey: exp
Project Kanban board name: exp

[2018-02-12 10:52] JimTim commented on #69
@VladimirPal Is it possible to insert a menu item above to delete the storage? Because it's still working, and the update report is still coming.

[2018-02-12 11:02] VladimirPal commented on #69
@JimTim I'm not sure what you mean, after clearing storage everything works?
I have doubt about it.
Could you install 2.5.5 pre-release, it will not fix the issue but give us additional information, so we can fix it.
https://github.com/web-pal/chronos-timetracker/releases/tag/v2.5.5

[2018-02-12 11:17] majsternc opened #70 "Blank (white) screen"
## Expected Behavior
After starting up Chronos I should see login screen

## Actual Behavior
I see white board in Chronos window.
I have to
rm -R ~/.config/Chronos/storage and then start it up again to see Chronos windows properly.
I have to do it every time when I want to start Chronos.

![screenshot_20180212_121419](https://user-images.githubusercontent.com/36298580/36094459-a3d82b20-0fee-11e8-8

[2018-02-12 11:43] VladimirPal commented on #69
@JimTim Let me know please when you check this project on 2.5.5

[2018-02-12 12:19] JimTim commented on #69
Ok, first thanky you ... and I will try it now

[2018-02-12 12:38] VladimirPal commented on #69
@JimTim And still white page?

[2018-02-12 12:39] JimTim commented on #69
Yes, still white page

[2018-02-12 12:46] JimTim commented on #69
action ui/SET_UI_STATE @ 13:44:34.660
redux-logger.js:1  action ui/SET_UI_STATE @ 13:44:34.666
redux-logger.js:1  action ui/SET_UI_STATE @ 13:44:34.675
redux-logger.js:1  action ui/SET_UI_STATE @ 13:44:34.683
redux-logger.js:1  action ui/SET_UI_STATE @ 13:44:34.691
redux-logger.js:1  action ui/SET_UI_STATE @ 13:44:34.698
redux-logger.js:1  action ui/SET_UI_STATE @ 13:44:34.706
redux-logger.js:1  a

[2018-02-12 12:48] JimTim commented on #69
Maybe this very long log helps you?

[2018-02-12 12:56] VladimirPal commented on #69
@JimTim
Try please 2.5.6 https://github.com/web-pal/chronos-timetracker/releases/tag/v2.5.6

[2018-02-12 12:58] JimTim commented on #69
Okay, I'm on it, Thank you

[2018-02-12 13:01] JimTim commented on #69
Still white...

[2018-02-12 13:02] VladimirPal commented on #69
But we finally cath the error, it will be fixed soon.

[2018-02-12 13:06] JimTim commented on #69
Wow, I'm really impressed. Thank you very much.

[2018-02-12 13:51] VladimirPal commented on #69
@JimTim Download again 2.5.6(files was replaced) and try it please.

[2018-02-12 13:58] JimTim commented on #69
Now it is stuck on fetching projects and issues...
<img width="475" alt="bildschirmfoto 2018-02-12 um 14 57 40" src="https://user-images.githubusercontent.com/6737248/36100061-357b8bb0-1005-11e8-875e-fde923df9e02.png">

[2018-02-12 14:39] VladimirPal commented on #69
Try 2.5.7 it should work
https://github.com/web-pal/chronos-timetracker/releases/tag/v2.5.7

[2018-02-12 14:46] JimTim commented on #69
Fetching now working again, Still white page after loading specific project :-)

[2018-02-12 14:48] VladimirPal commented on #69
White page mean no issues? Could you attach a screenshot?

[2018-02-12 14:49] JimTim commented on #69
White page means this (after selecting the specific "special" project):
<img width="1070" alt="bildschirmfoto 2018-02-12 um 15 49 01" src="https://user-images.githubusercontent.com/6737248/36102328-4b0edda4-100c-11e8-8d08-34d2d2ca015d.png">

[2018-02-12 14:51] VladimirPal commented on #69
Duplicate https://github.com/web-pal/chronos-timetracker/issues/70

[2018-02-12 15:13] VladimirPal commented on #69
I have no idea how could it happen:)
Could you download debug version - https://github.com/web-pal/chronos-timetracker/releases/download/v2.5.7/Chronos-2.5.7.debug.dmg
And send us screenshot from debug console.

[2018-02-12 15:21] JimTim commented on #69
After click on the specific project (right upper combobox)

![bildschirmfoto 2018-02-12 um 16 19 49](https://user-images.githubusercontent.com/6737248/36103833-b0f99524-1010-11e8-84de-58db8ad2c75f.png)

![bildschirmfoto 2018-02-12 um 16 20 08](https://user-images.githubusercontent.com/6737248/36103844-b848235e-1010-11e8-8fa2-d33ced071cd4.png)

[2018-02-12 15:34] VladimirPal commented on #69
@JimTim
Could you download debug version again(same url), reinstall it, and send  last special log
[code]

[2018-02-12 15:52] JimTim commented on #69
Sorry, that would contain too much sensitive data. Can I look for something that should be there?

[2018-02-12 15:55] VladimirPal commented on #69
Could you check issue object, does it have fields?
[code]

[2018-02-12 16:02] VladimirPal commented on #69
Could you download debug version again, it have potential solution.
BTW, 2.4.7 version works fine even with the "problem project"?

[2018-02-12 16:13] JimTim commented on #69
I see several log outputs between Special Log for jimtim. These are usually two objects.

- The first object also has a number of objects. The value "fields" are attached to these objects. In total there are 10 objects here

- The second object in my log is then an issue object. This object is available 10 times in total

After all issue objects have been processed, there is "my" log output a few

[2018-02-12 16:45] VladimirPal commented on #69
@JimTim
Check 2.5.8 please, i hope it will be the last one:)
https://github.com/web-pal/chronos-timetracker/releases/tag/2.5.8

[2018-02-12 16:50] JimTim commented on #69
Wuhuhuhu, wow. Now it is working! I can finally retrieve the issues and can't get a white page anymore, what was the fix?

[2018-02-12 16:53] VladimirPal commented on #69
@JimTim This was a series of fixes, different jira servers in some cases response different data structure, we just adapted app to your server.

[2018-02-12 16:53] #69 closed

[2018-02-12 18:02] VladimirPal commented on #70
@majsternc check 2.5.8 please, it should work, let us know please.

[2018-02-13 09:44] majsternc commented on #70
nope, it still appears :/

[2018-02-13 13:40] VladimirPal commented on #70
@majsternc Could you check it again please, it seems like we removed your automatic issue report accidentally

[2018-02-13 14:05] VladimirPal commented on #70
@majsternc I suppose it happens because we store passwords using keytar lib and your distributive do not support it.
Check it please - https://github.com/atom/node-keytar#on-linux and try to install libsecret

[2018-02-15 10:54] VladimirPal opened #71 "Multi Accounts"
Ability to switch between jira servers.

[2018-02-15 14:09] #70 closed

[2018-02-15 15:03] VladimirPal opened #72 "Support Tempo plugin"
Client.

We need to have setting checkbox [x] Tempo support.
At this moment i don't know which custom fields tempo use, need to figure out and implement.

P.S
Help wanted! If someone wants to handle this issue, let us know please.

[2018-02-15 15:33] feldifux commented on #48
+1 for this issue

[2018-02-15 15:37] VladimirPal opened #73 "Remaining estimate"
We need to support remaining estimate field, during automatically track(popup with comment) and manual worklog(modal form)

![image 2018-02-15 17 36 26](https://user-images.githubusercontent.com/555405/36264954-c60cbca8-1276-11e8-9ae3-1c142eb2320e.jpg)

P.S
Help wanted! If someone wants to handle this issue, let us know please.

[2018-02-15 15:40] VladimirPal opened #74 "Display remaining time progress bar"
During time tracking we need to display remaining time progress bar. It need to be shown only in case if remaining time exist, otherwise what's the point right?

P.S
Help wanted! If someone wants to handle this issue, let us know please.

[2018-02-15 17:32] VladimirPal commented on #21
@itpimp It would be great if you type two words on marketplace reviews - https://marketplace.atlassian.com/plugins/com.web-pal.jira.plugins.chronos/cloud/reviews
something like ```good``` or ```bad``` will be enought, also github star :star: will help us too. Thank you. :pray: :metal:

[2018-02-15 17:33] VladimirPal commented on #34
@ASAPHAANING It would be great if you type two words on marketplace reviews - https://marketplace.atlassian.com/plugins/com.web-pal.jira.plugins.chronos/cloud/reviews
something like ```good``` or ```bad``` will be enought, also github star :star: will help us too. Thank you. :pray: :metal:

[2018-02-15 17:33] VladimirPal commented on #35
@ooredroxoo It would be great if you type two words on marketplace reviews - https://marketplace.atlassian.com/plugins/com.web-pal.jira.plugins.chronos/cloud/reviews
something like ```good``` or ```bad``` will be enought, also github star :star: will help us too. Thank you. :pray: :metal:

[2018-02-15 17:35] VladimirPal commented on #49
@JimTim It would be great if you type two words on marketplace reviews - https://marketplace.atlassian.com/plugins/com.web-pal.jira.plugins.chronos/cloud/reviews
something like ```good``` or ```bad``` will be enought. Thank you. :pray: :metal:

[2018-02-15 17:36] VladimirPal commented on #68
@addmitriev It would be great if you type two words on marketplace reviews - https://marketplace.atlassian.com/plugins/com.web-pal.jira.plugins.chronos/cloud/reviews
something like ```good``` or ```bad``` will be enought, also github star :star: will help us too. Thank you. :pray: :metal:

[2018-02-15 17:36] VladimirPal commented on #70
@majsternc It would be great if you type two words on marketplace reviews - https://marketplace.atlassian.com/plugins/com.web-pal.jira.plugins.chronos/cloud/reviews
something like ```good``` or ```bad``` will be enought, also github star :star: will help us too. Thank you. :pray: :metal:

[2018-02-15 18:48] ooredroxoo commented on #35
Hello @VladimirPal,
Reviews published.

[2018-02-16 11:05] majsternc opened #75 "STOP button hides"
## Expected Behavior
STOP button should be visible without matter of Chronos window scale

## Actual Behavior
I have to enlarge Chronos windows much on right side to see STOP button.

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Chronos-timetracker version: 2.5.9
  - OS: Kubuntu

[2018-02-16 13:44] Architektor commented on #75
would you kindly attach a screenshot @majsternc ?
I just tried on ios and minimum app width seems to be fine, maybe you have a long issue key or something like that?

[2018-02-19 17:28] #73 closed

[2018-02-19 17:38] rjmunro opened #76 "Log in with OAuth"
## Expected Behavior

When setting up the desktop app, I should be presented with a browser window and asked to log in. The app should then receive an OAuth token to work.

## Actual Behavior

I am asked to enter my password directly into the app.

This doesn't work as I don't have a Jira password. I log in to Jira with single sign on from my company Google account. It's also less secure because m

[2018-02-20 09:46] feldifux commented on #74
It would be beneficial to show in the log work dialog this info:
* how long was logged in total until now (by you and in total, similar what you show in the reports tab)
* and what the remaining time is.

If there is no remaining time set yet, still allow to set one in the log work dialog.

[2018-02-20 10:04] feldifux commented on #72
The main difference when using Tempo is, that you can add custom fields to the log work dialog. Most importantly, you can log work of an issue/story/etc to an account.

This would be useful to be available with Chronos.

Here is how the log work dialog from cloud Jira looks like when using Tempo for time tracking:
![grafik](https://user-images.githubusercontent.com/856976/36417977-c0c63138-162d-11

[2018-02-20 14:16] JimTim commented on #71
The feature would be very important to us. :-)

[2018-02-21 11:27] feldifux opened #77 "High CPU Usage"
## Expected Behavior
A tool like Chronos should be in idle mode most of the time and take almost 0% CPU usage. For both scenarios when the app is minimized (not focused) and also when it is active.

## Actual Behavior
CPU usage is constantly >20%

## Steps to Reproduce the Problem

  1. Start Chronos
  1. See CPU Usage in Windows

## Specifications

  - Chronos-timetracker version: 2.5.11
  - OS:

[2018-02-21 13:54] VladimirPal commented on #77
I'm afraid we can't fix it, it's usual issue of electron app

[2018-02-21 13:54] #77 closed

[2018-02-22 08:49] ChangJoo-Park commented on #76
👍

[2018-02-22 10:22] feldifux opened #78 "Bug: Search issues does not work and stalls all network requests. Also searching for updates causes all network requests to stall."
## Expected Behavior
Searching for issues should work. Such as searching for chronos app updates. ;)

## Actual Behavior
It does not. The network requests are stalled and the app is not usable afterwards any more (no more network requests get through), if either any search term for the issues is entered, or if Settings / Updates is opened.

## Steps to Reproduce the Problem

  1. Enter any search

[2018-02-22 10:24] feldifux opened #79 "Bug: after creating a new issue, window is not closed and whole app needs to be closed"
## Expected Behavior
After creating a new task, the new task window should disappear.

## Actual Behavior
The new task window stays there and is not closable. The whole Chronos app needs to be restarted after that, which makes new issue creation unusable. Fully reproducable.

## Steps to Reproduce the Problem

  1. Create new issue
  1. Window keeps displayed and is not closable

## Specifications

[2018-02-22 10:26] feldifux opened #80 "Feature Request: Allow to edit task fields"
## Expected Behavior
show an "Edit issue" button which opens the edit issue dialog from Jira. This would allow changing for example components, labels, description, or whatever custom field a user has added to the edit screen scheme.

## Actual Behavior
No editing possibility, need to switch to web ui for making task edits.

[2018-02-22 10:30] feldifux commented on #77
How can this be an Electron issue?
I'm also using other apps that are based on Electron like Slack or Franz, and none of these has this issue.

[2018-02-22 10:44] Architektor commented on #77
@feldifuxI can't reproduce it either, for me, Chronos is almost always at 0.0 - 1.0 % CPU time.
Is it always 20% for you, or it grows to 20% at some point in time? Does it turns to 20% instantly or builds up for some time? For further investigation, you probably need to use the chrome profiler to take the runtime snapshots and detect the problem.

[2018-02-22 10:52] feldifux commented on #77
It is at 20% right after app start

How would I use the chrome profiler with the Chronos app?

[2018-02-22 12:00] VladimirPal commented on #78
@feldifux Fixed

[2018-02-22 12:00] #78 closed

[2018-02-22 12:55] feldifux commented on #78
in which version?

[2018-02-26 11:26] skrupenin opened #81 "Feature request: worklog comment as a required item"
## Expected Behavior
Person starts timer working on an issue
Person stops timer, Chronos displays input box to type a worklog description
Worklog with a description is recorded

## Actual Behavior
Person starts timer working on an issue
Person stops timer
Worklog is recorder

## Specifications
Option Required for Worklog description should be configured in settings

[2018-02-27 09:31] #79 closed

[2018-02-27 09:31] #80 closed

[2018-02-27 12:36] VladimirPal commented on #75
If someone know how reproduce it, let us know please.

[2018-02-27 12:41] VladimirPal commented on #65
Unfortunately we can't use this plugins, because we have indexedList plugin, since we need indexed list for react-virtualized.

[2018-02-27 12:41] #65 closed

[2018-02-27 12:42] #22 closed

[2018-02-27 14:59] skrupenin opened #82 "Invalid regional formatting for both time and date in Worklogs tab"
## Expected Behavior
Date and time to be formatted according to regional settings on current station

## Actual Behavior
US-formatting in Worklogs tab (https://monosnap.com/file/RBUhzoXl27YPN1hOTLGCtMK5a6lYI4), in Edit worklog window (https://monosnap.com/file/Z7OegtFHQoIQ1VW7e8XKQCdAArdGbY)

## Steps to Reproduce the Problem
  1. Set regional settings different from US
  1. Watch Worklogs tab

##

[2018-02-27 15:11] skrupenin opened #83 "Comments tab gets too wide if there are comments with long strings (URL, for example)"
## Expected Behavior
All tabs of issue should be visible and stay well-formatted

## Actual Behavior
Comments tab extends to a width to render comments. No line breaks added to long strings (for example, URL).
Since there is no horizontal scroll-bar in comments window, all comments got cut.

See sample: https://monosnap.com/file/EQYG742VIdP3nQqHWcrgcOyxB5w51S

## Steps to Reproduce the Problem

[2018-02-27 19:48] VladimirPal commented on #79
@feldifux Could you confirm that it works now?

[2018-02-27 19:49] VladimirPal commented on #80
@feldifux Could you check it please?
It would be great if you type two words on marketplace reviews - https://marketplace.atlassian.com/plugins/com.web-pal.jira.plugins.chronos/cloud/reviews
something like ```good``` or ```bad``` will be enought. Thank you. :pray: :metal:

[2018-02-27 22:52] feldifux commented on #80
I already did. ;)

Works nicely now, thanks!
The only thing is that it takes quite long to open the dialog (~5-10 seconds). Is there a reason or quick fix for that?

[2018-02-27 22:52] feldifux commented on #79
Works perfect now, thanks!

[2018-02-27 22:54] feldifux commented on #48
as a first step, what would already help is to have a list of all tasks of all projects and make this searchable.
another useful item would be to have a list of recent worklogs across projects.

[2018-02-27 23:23] feldifux opened #84 "Feature request: set the start time of log work to "now - logged time" as default"
## Expected Behavior
When logging time manually, set the start time by default to "now - logged time". This is more reasonable because when I log time that time can not be in the future, but the task started in the past, then worked on it, and then logged the time.

If no start date & time was set manually, calculate the start time from the logged time. If it was set manually in the dialog, do not

[2018-02-27 23:25] feldifux opened #85 "Feature request: see recent worklogs across projects"
## Expected Behavior
Would simplify the lengthy process to load tasks from multiple projects. Most of the time, the same tasks are being worked on anyways.

## Actual Behavior
Recent worklogs shows only the logs of the currently selected project.

[2018-02-28 15:29] VladimirPal commented on #80
@feldifux Check 2.5.15 please

[2018-02-28 16:07] feldifux opened #86 "Feature request: cache tasks & time logs locally so switching between projects is faster"
## Expected Behavior
Show a cached version of tasks, time logs, comments.

[2018-02-28 16:09] feldifux opened #87 "Feature request: allow offline mode"
Allow to log time while offline (and cache it locally) and then send the time log automatically once online.
Users might be on train/plane etc with limited internet connection. Currently the tool is not usable then.

Priority 2 would be to also allow to create tasks, comments while offline. But I guess this is quite a lot of effort, and is not that important as time logging.

[2018-02-28 16:11] feldifux commented on #80
Works a lot faster now, thanks a ton, well done!
You guys are amazing and super-fast :)

[2018-02-28 16:17] VladimirPal commented on #80
@feldifux Thanks, but since the app works pretty stable we will freeze development at least for a  month, to focus on jira timesheet plugin.

[2018-02-28 16:17] #75 closed

[2018-02-28 16:17] #61 closed

[2018-02-28 23:11] feldifux opened #88 "Recent worklogs stays empty if the Jira username got changed"
## Expected Behavior
Should show recent worklogs

## Actual Behavior
Nothing is shown, no matter which project is selected.

## Specifications

  - Chronos-timetracker version: 2.5.16-a
  - OS: Windows 10

[2018-02-28 23:13] feldifux commented on #88
Also, search issues is not working anymore. :(

[2018-03-01 05:09] VladimirPal commented on #88
@feldifux Can't reproduce it, could you check it again, also check previous version

[2018-03-01 10:05] feldifux commented on #88
Hm, I just tested it also with 2.5.15 and 2.5.14 and it also does not work there anymore. It definitely did work before.
Any clue why it stopped working now?

[2018-03-01 22:06] feldifux commented on #88
Thanks, seems this is not a caching issue.
I also get an error when I try to load the time sheet with the Tempo plugin on mobile. However, in the Tempo "My work" tab from the Tempo plugin on the website, receiving the time logs works.

Any hint how to fix this?

[2018-03-01 22:54] feldifux commented on #88
UPDATE: receiving time logs works now again with the Tempo app. I changed my Jira username, then had to update my account settings from the Tempo app and now it works.

However, in Chronos the recent worklogs do not work still. I tried to remove the cache directory, uninstall Chronos, tested with previous Chronos versions, and re-logged in, without success. The recent timelogs are still empty.

Do

[2018-03-03 23:22] feldifux commented on #88
I tried it again with Chronos version 2.5.14, .15 and the latest 16-a, always cleared the local cache before reinstalling, the recent log is still empty with all of them.

In the mobile Tempo app, this is how I fixed the receiving of data: Go to Settings / Manage Tempo / Reload user information.

It looks like some old user account info is cached in Chronos which prevents the old timelogs from bei

[2018-03-06 14:51] feldifux commented on #88
Update: I tried to login with another test user, and there the recent worklog works. So this has something to do with the server login from Jira. In the tempo app all worked after I pressed "Reload user information", i do not know how to fix this with Chronos.

[2018-03-06 14:53] VladimirPal commented on #88
@feldifux Honestly i have no idea what it can be :(

[2018-03-06 15:51] VladimirPal commented on #88
@feldifux I understand that it may be impossible for you, but you can temporary change password on your account and give me credentials, so i can login and explore the issue.
mail.vpal@gmail.com

[2018-03-07 09:53] feldifux commented on #48
This would be most flexible, if we could just choose a filter to show the issues, in addition to the current options Projects & Boards. A user can then customize the filter to his liking (e.g. include the unresolved tasks across all projects)

[2018-03-07 14:31] #88 closed

[2018-03-07 14:31] VladimirPal commented on #88
Fixed

[2018-03-07 16:35] feldifux commented on #88
Thanks, you guys are amazing!

[2018-03-09 09:33] 2bitmarv opened #89 "Login not possible (v2.5.20 Windows x64) on self-hosted JIRA (v7.3.7#73018)"
After starting the Application i expected the login to work correctly
![image](https://user-images.githubusercontent.com/37209176/37200454-229acfea-2385-11e8-860c-1ad0caeedd4a.png)

Login doesn't work in any way as tested with:
- Hostname as shortname
- Hostname full qualified
- Hostname with or without protocol prefix
- Hostname as IP
- e-mail or username (multiple times checked)
- password (mult

[2018-03-09 10:07] VladimirPal commented on #89
@2bitmarv Hi! Could you create test account, without access to private data and provide me credentials, so i can explore the issue?
mail.vpal@gmail.com

[2018-03-12 16:23] VladimirPal opened #90 "Option to Add LOG Work and Comment at same time like the StopWatch program"
![logandcomment](https://user-images.githubusercontent.com/555405/37296066-834d7294-2622-11e8-93fe-dd0f302a4a6a.png)

[2018-03-15 10:11] #71 closed

[2018-03-15 16:48] 2bitmarv commented on #89
Hi Vladimir,
unfortunately not, because this JIRA is not reachable from outside. But maybe it is just another miss configured JIRA Server? Wich connections do chronos need? https? http? Rest-Service? and wich port? Maybe this could be a path to clarification.

[2018-03-16 09:50] loku123 opened #93 "After login, the app keeps loading"
## Expected Behavior

## Actual Behavior
After login screen, the app keeps loading and nothing happens. See attached screen,

## Steps to Reproduce the Problem

  1. Login

## Specifications

  - Chronos-timetracker version: 2.6.0
  - OS: Win7
![2018-03-16_10h44_25](https://user-images.githubusercontent.com/37439598/37514264-b749edce-2907-11e8-8593-864f9d7d0c0f.png)

[2018-03-19 18:11] Architektor commented on #89
Hi @2bitmarv
Please try out the [latest release](https://github.com/web-pal/chronos-timetracker/releases/latest)
Since 2.6.2, you can press on small 'Can not log in?' link under the authorization form to display debug console. Try to login with debug console open, and attach the debugging logs here.

[2018-03-19 18:12] Architektor commented on #93
Hi @loku123
Please try out the [latest release](https://github.com/web-pal/chronos-timetracker/releases/latest)
Since 2.6.2, you can press on small 'Can not log in?' link under the authorization form to display debug console. Try to login with debug console open, and attach the debugging logs here.

[2018-03-20 08:37] loku123 commented on #93
Hi,

unfortunately, it's the same with 2.6.2. Debug console disappears just after login, so I'm not able to attach anything.

[2018-03-21 09:02] Kondamon opened #94 "Bug: Sprint issues are not filtered out"
## Expected Behavior
When I select board and and an active sprint I just want to see issues for this active sprint and all other issues are filtered out.

## Actual Behavior
Issues from older sprints and also closed issues are shown.

## Steps to Reproduce the Problem

  1. Select board
  2. Select sprint
  3. Look at the issues

## Specifications

  - Chronos-timetracker version: 2.6.2
  - OS: ma

[2018-03-21 09:34] feldifux opened #95 "Logging work for an issue logs the time for a wrong issue"
## Expected Behavior
I log time for an issue, the issue is then changed and the time is added for another issue. Does not happen when I restart the Chronos app, but after I log time for one issue and then want to log for another, the first one is used.

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Chronos-timetracker version:
  - OS:

[2018-03-21 09:37] feldifux opened #96 "When deleting a timelog entry, it displays "Something is wrong" and need to restart the app"
## Expected Behavior
The first deletion of any timelog works fine. A second deletion, shows the screen "Something went wrong." and the app needs to be restarted.

Update: also the first deletion sometimes shows the something went wrong screen. The timelog is deleted actually, which can be seen after restarting the app.

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Spec

[2018-03-21 10:29] VladimirPal commented on #95
@feldifux
What OS do you use? This issues from one project? I can't reproduce it.

[2018-03-21 10:48] Kondamon commented on #95
@VladimirPal I can reproduce this:

1. Select Board
2. Select Sprint
3. Search for anything in the search field e.g. "abc"
4. Select any issue within the issue field
5. Press the Log Work button of the issue and save any time e.g. 2h with Log Work
6. The time is added to another issue

Chronos-timetracker version: 2.6.2
OS: macOS HighSierra 10.13.2

[2018-03-21 11:00] VladimirPal commented on #95
@Kondamon Thanks, will fixed today

[2018-03-21 15:28] 2bitmarv commented on #89
In Version 2.6.2 login now works! Now i can test this promising tool down to his bones :)

[2018-03-21 16:00] Architektor commented on #95
fixed in 2.6.3

[2018-03-21 16:00] #95 closed

[2018-03-21 20:15] VladimirPal commented on #96
@feldifux Check 2.6.3 please

[2018-03-21 20:15] VladimirPal commented on #93
@loku123  Check 2.6.3 please

[2018-03-22 08:57] feldifux commented on #96
This bug is still there.

[2018-03-22 10:38] VladimirPal commented on #95
@feldifux @Kondamon Is it work guys?

[2018-03-22 10:41] feldifux commented on #95
Yes it is working again, thx.
You guys should really do some unit testing to make sure such regression bugs dont pop up. ;)

[2018-03-22 10:59] VladimirPal commented on #95
true

[2018-03-27 12:15] #83 closed

[2018-03-27 12:15] VladimirPal commented on #83
@skrupenin fixed v2.6.4

[2018-03-27 12:16] VladimirPal commented on #84
@feldifux  v2.6.4

[2018-03-27 12:17] VladimirPal commented on #90
v2.6.4

[2018-03-27 12:17] #90 closed

[2018-03-27 12:17] VladimirPal commented on #81
@skrupenin  v2.6.4

[2018-03-27 12:17] #81 closed

[2018-03-27 12:18] VladimirPal commented on #96
@feldifux Could you check 2.6.4 please

[2018-03-27 12:20] VladimirPal commented on #94
@Kondamon  check v2.6.4 please

[2018-03-27 12:20] #94 closed

[2018-03-27 12:20] #93 closed

[2018-03-27 12:54] Kondamon commented on #94
@VladimirPal it's working thank you for the quick fix!

[2018-03-27 13:24] skrupenin opened #103 "Welcome screen asks for host name, but cannot connect by host name"
## Expected Behavior
1. Welcome screen asks for host name
2. User enters host name: jira.company.com
3. All goes well

## Actual Behavior
1. Welcome screen asks for host name
2. User enters host name: jira.company.com
3. Login fails
4. User pushes Back
5. User enters http://jira.company.com
6. Now all goes well

## Solution
change title to "Enter JIRA URL"
verify entered value to and URL mask

##

[2018-03-27 13:27] skrupenin opened #104 "Possible to add worklog without worklog comment"
## Expected Behavior
checked on "Forbid sending worklog without comment"
hit Add worklog
enter values, and no worklog comment
hit Log work
Get error message

## Actual Behavior
checked on "Forbid sending worklog without comment"
hit Add worklog
enter values, and no worklog comment
hit Log work
got recorded worklog with no comment https://monosnap.com/file/QiPoHfxdGdAvlZbPhRXqJaOhsi5tIz

## Specifi

[2018-03-27 13:28] Architektor commented on #103
It should work fine, can you please open login debugging tool by pressing 'Can not login' hint under the login form. And post the logs from failing login here?

[2018-03-27 14:17] skrupenin commented on #103
Auth debug console 📺
Login request...
host: z.alfakit.ru
protocol: https
port:
path_prefix: /
username: skrupenin
password: ***
{
 "options": {
   "uri": "https://z.alfakit.ru/rest/api/2/myself",
   "method": "GET",
   "json": true,
   "followAllRedirects": true,
   "debug": true,
   "rejectUnauthorized": false,
   "auth": {
     "user": "skrupenin",
     "pass": «-----",
     "password": "***"

[2018-04-04 10:35] feldifux commented on #96
looks to work fine now

[2018-04-04 10:35] feldifux commented on #84
looks good, thanks!

[2018-04-04 10:37] feldifux commented on #48
I'd like to +10 for this (one for each team member who is using Chronos here ;)

adding support for filters would also solve https://github.com/web-pal/chronos-timetracker/issues/86

[2018-04-05 11:29] feldifux commented on #96
still occurs, i cannot reproduce it 100% though

[2018-04-05 15:07] Architektor commented on #48
@feldifux @JimTim now the 2.7.0 is out! Please make any favorite filter inside JIRA, and you will be able to use it, edit it and create new JQL filters in Chronos! Works project-wide.

[2018-04-05 15:07] Architektor commented on #48
@feldifux @JimTim now the 2.7.0 is out! Please make any favorite filter inside JIRA, and you will be able to use it, edit it and create new JQL filters in Chronos! Works project-wide.

[2018-04-05 15:07] #48 closed

[2018-04-05 15:08] Architektor commented on #85
2.7.0 is out! Please make any favorite filter inside JIRA, and you will be able to use it, edit it and create new JQL filters in Chronos! Works project-wide.

[2018-04-05 15:08] #85 closed

[2018-04-05 15:08] Architektor commented on #57
@ooredroxoo now the 2.7.0 is out! Please make any favorite filter inside JIRA, and you will be able to use it, edit it and create new JQL filters in Chronos! Works project-wide.

[2018-04-05 15:08] #57 closed

[2018-04-05 15:09] Architektor commented on #104
closed in v2.7.0

[2018-04-05 15:09] #104 closed

[2018-04-05 15:09] #20 closed

[2018-04-06 11:35] feldifux commented on #84
Whenever the logged time is changed, the starting time gets reduced relative to the current start time. it should always be reduced absolute of the current time, not relative of te defined start time.

E.g. if you enter "1h 15m" by writing it in the logged time field, it will deduce the time by 2h 15m from the current time which doesnt make sense.

[2018-04-06 11:35] feldifux commented on #84
Thus pls re-open until this is fixed

[2018-04-06 11:42] Architektor commented on #84
@feldifux yeah i see, will fix in next patch!

[2018-04-08 12:37] noammat opened #106 "Feature Request: Have an option to order issue by a different criteria"
## Expected Behavior
Have a way to re-order issues, preferably by rank or any other criteria (maybe through the filter menu?)

## Actual Behavior
Currently the issues are ordered by an alphabetical descending order.
It is the default behaviour and there's no way to change it

## Specifications

  - Chronos-timetracker version: 2.7.3
  - OS: MacOs

[2018-04-09 09:45] #84 closed

[2018-04-16 10:42] majsternc opened #107 "Cannot log in- again"
## Expected Behavior

## Actual Behavior

Login request...
host: jaga.ncdc
protocol: http
port: 8081
path_prefix: /jira/
username: majster
password: ***
{
  "options": {
    "uri": "http://jaga.ncdc:8081/jira/rest/api/2/myself",
    "method": "GET",
    "json": true,
    "followAllRedirects": true,
    "debug": true,
    "rejectUnauthorized": false,
    "auth": {
      "user": "majster",
      "pa

[2018-04-16 10:44] #107 closed

[2018-04-25 21:44] mahmoudbahaa commented on #103
I think the problem it attempt using https by default so http must be explicitly specified, maybe it should fallback and try http if https login fails instead of just throwing can't login issue

[2018-04-26 00:45] mahmoudbahaa opened #108 "libsecret maybe not be enough"
## Expected Behavior
after installing libsecret, the credentials are saved and need not be entered again

## Actual Behavior
the error message about installing libsecret keep popping, and have to do the whole porcess of host and authentication entering again every time

Command line error(When running from terminal) :
`Remote error from secret service: org.freedesktop.DBus.Error.ServiceUnknown: Th

[2018-04-26 13:33] kevingelion commented on #76
My team also uses SSO through Okta so this would be super helpful!

[2018-04-27 14:14] jhult commented on #25
How do I sort worklogs? I don't see any ascending/descending arrow on the worklogs tab.

[2018-04-27 14:18] jhult opened #109 "Feature request: Sort comments"
## Expected Behavior
Allow sorting comments either ascending or descending.

## Actual Behavior
No sort button present.

## Steps to Reproduce the Problem
View an issue with multiple comments. Notice the lack of a sort button.

## Specifications

  - Chronos-timetracker version: 2.7.3
  - OS: Ubuntu 17.10 x64

[2018-04-27 14:25] jhult opened #110 "Setting to control date format"
## Expected Behavior
I'd like to display a date format other than the default. It would be nice to have a setting to allow for a few popular options (or maybe even a custom one). This would be displayed wherever a date is shown in the interface (e.g. comments, worklogs,

## Actual Behavior
Date (for worklogs) is always `DD/MMM/YY h:mm A`.

## Steps to Reproduce the Problem
View a worklog and notic

[2018-04-27 14:31] jhult opened #111 "Feature request: Show About (with version) from Help menu"
## Expected Behavior
I would like to be able to view the current version of the app from the `Help` menu. Perhaps something like what Chrome has under Help -> About:
![screenshot_20180427_102901](https://user-images.githubusercontent.com/9849069/39367890-12e4786a-4a06-11e8-80ed-b356967eb641.png)

## Actual Behavior
`Help` menu does not show the version

## Steps to Reproduce the Problem
View the `

[2018-04-27 14:35] Architektor commented on #111
You can view Chronos Version by clicking Chronos>About Chronos from the menu
<img width="284" alt="blank_skitch_document" src="https://user-images.githubusercontent.com/4680555/39368091-5ae73716-4a41-11e8-83f9-f2cb2dd28269.png">

[2018-04-27 14:35] #111 closed

[2018-04-27 14:39] jhult opened #112 "Enhancement: Hide Report tab unless Chronos Timesheets add-on enabled"
## Expected Behavior
Only display Report tab if Chronos Timesheets add-on is enabled.

## Actual Behavior
Report tab shows today no matter what.

## Steps to Reproduce the Problem
View Report tab and notice it is present even when add-on is not installed in Jira instance.

## Specifications

  - Chronos-timetracker version: 2.7.3
  - OS: Ubunu 17.10 x64

[2018-04-27 14:44] jhult commented on #111
I don't appear to have that option in my menu...

![screenshot_20180427_104302](https://user-images.githubusercontent.com/9849069/39368559-e3614d6e-4a07-11e8-93d6-6023e078da69.png)

[2018-04-27 14:48] jhult commented on #111
It looks like the menu might be different on macOS vs Linux.

[2018-05-14 22:33] jloh commented on #76
oAuth would be better! Our security policy prohibits me from putting my standard pass into this app sadly.

[2018-05-16 09:04] michaeljoseph opened #113 "homebrew cask fyi"
https://github.com/caskroom/homebrew-cask/pull/47298

[2018-05-16 11:34] guy881 commented on #77
I have the same problem on Windows 10, Chronos is usually around 16% CPU usage. I also have Mattermost which is another Electron app and the problem doesn't occur.

@Architektor, I can record that profile for you, if you want. :)

[2018-05-26 15:34] feldifux commented on #96
is still happening, occurs 100% reproducable with 2.7.3 every time i want to delete a timelog

[2018-05-26 15:36] feldifux opened #114 "Search for issues is not working with custom JQL filters"
## Expected Behavior
Search should display only the issues with this search term.

## Actual Behavior
All issues are shown when a JQL filter is used.

## Specifications

  - Chronos-timetracker version: 2.7.3
  - OS: Windows

[2018-05-26 15:38] feldifux opened #115 "Feature request: search for parts of search terms"
## Expected Behavior
If i search for "proj", i would like to receive issues which have this as part in their name, and return for example "Project Management", "Amazin Project", etc.

[2018-06-04 12:56] tracstarr commented on #76
was this re-enabled? We also use google managed accounts so not able to use this currently.

[2018-06-09 22:20] vniche opened #116 "Chronos canvas resizing on window size change."
As i can see in [electron/electron #11050](https://github.com/electron/electron/issues/11050) this works out of the box on electron ^2.0.0.

## Expected Behavior

Chronos canvas to resize on window size change.

## Actual Behavior

Chronos initializes and stays the same size forever, which is displaying wrongly, at least on my current screen:

Windowed behaviour:
![windowed display](https://i.imgu

[2018-06-14 06:34] spacebromx commented on #76
Same @tracstarr mentioned. My company is using Google Accounts for login.

[2018-06-14 11:51] davidnorthetal opened #117 "Add minimize-to-systray"
I currently don't see an option for this, but it's quite important to me as my taskbar already feels like precious real-estate that I'd like to keep clean.

Especially when I work on longer issues, I'd like to just minimize Chronos to systray and have it out of my way.

Thanks for consideration.

[2018-06-20 09:34] fobid commented on #76
I couldn't to use it neither. I had same reason with above comments.

[2018-06-29 10:05] btstream opened #118 "New and Edit does not work at all"
I am using Chronos with jira 7.3.6. When click New and Edit, I get a white screen and waiting and waiting....

Just like the screenshot.
![screenshot_20180629_180248](https://user-images.githubusercontent.com/380671/42086842-ee28c970-7bc6-11e8-9bcd-9c63d888ced7.png)

[2018-07-04 09:10] pospile commented on #76
+1 Please enable Google login support!

[2018-07-28 13:55] flkeysils commented on #72
Hello,  I'm a new contributor and would like to work on this issue.  Where should I start?

[2018-08-19 09:29] jabulon opened #119 "Cannot login (Can not authenticate user)"
## Expected Behavior
Logon succeeds

## Actual Behavior
 Getting the message "Can not authenticate user. Please try again"
I'm logging in correctly to this hostname via Chrome. The username and password are correct - tried inserting manually into the browser after logoff.
The Auth debug console shows:
[code]

## Steps to Reproduce the Problem

1. Insert the JIRA URL in the welcome screen: http://n

[2018-09-02 08:07] fboender commented on #119
I experienced the same problem. For me, the cause was that I had two-factor authentication enabled, which Chronos Timetracker doesn't seem to support. Disabling two-factor authentication fixes this problem, but you will need to keep it disabled, or Chronos Timetracker will stop working.

[2018-09-03 14:46] VladimirPal commented on #74
2.7.4

[2018-09-03 14:46] #74 closed

[2018-09-05 02:52] niutech commented on #87
+1 for that functionality. It could be implemented as a Service Worker, possibly with [Background Sync](https://github.com/WICG/BackgroundSync/blob/master/explainer.md) or a custom queue of requests to perform when online.

[2018-09-11 20:31] tonylee2016 commented on #118
same thing here

[2018-09-27 05:49] akubaa opened #122 "Feature request: config file to determ what labels can be displayed when creating/edit issues"
I wonder if someone could help me with adding following feature:

Add a config file to be able to select which labels should be shown when creating/editing a issue

For example i only want following labels to be shown when entering text in a label form
Internal Support
External support

Would this be possible to do? I have tried to fix it myself but i'm not familiar with the programming language a

[2018-09-27 08:22] Dorlosen opened #123 "Feature request: Temporarily stop time tracker / pause"
A very handy feature that seems to be missing is to temporarily pause the timer. This is possible in the integrated time tracker inside jira and has been quite helpful. Any plans in adding a similar feature in chronos?

[2018-10-01 14:47] work2survive opened #124 "Chronos web always alway logs hours today, regardless of the past day you choose."
## Expected Behavior
log work manually in a previous day of the chronos calendar.

## Actual Behavior
Chronos web version, atlassian.net/plugins... when you log a work manually always adds the time to today, regardless of the day you choosed.

![capture](https://user-images.githubusercontent.com/4981292/46296101-e6581300-c599-11e8-8631-ddae425fbd9e.PNG)

## Steps to Reproduce the Problem

  1.open

[2018-10-19 10:23] netqsander opened #125 "Desktop client cannot be downloaded"
## Expected Behavior
The URL at https://chronos-api.web-pal.com/release/exe should return a file to install the Chronos Timetracker app

## Actual Behavior
The URL at https://chronos-api.web-pal.com/release/exe cannot be reached

## Steps to Reproduce the Problem

  1. Navigate to https://chronos-api.web-pal.com/release/exe

## Specifications

  - Chronos-timetracker version: n/a
  - OS: Any

[2018-10-26 16:10] #82 closed

[2018-10-26 16:10] #115 closed

[2018-10-26 19:11] silentdis opened #128 "Hangs forever waiting on login prompt since last update"
## Expected Behavior
Presented with credentials request

## Actual Behavior
spinning wait state forever after entering server

## Steps to Reproduce the Problem

  1. Launch AppImage package for Chronos.
  1. Fill in https://confluence.support.com/jira/
  1. Spins forever waiting. -- Was working fine before update today.

## Specifications

  - Chronos-timetracker version: 2.8.0 according to downl

[2018-10-28 11:24] mahmoud-elnaggar opened #132 "Can't login on new Version"
## Expected Behavior
Success Login in Hosted Jira version on our Server

## Actual Behavior
Keeps loading after I write Jira URL on Our Server

## Steps to Reproduce the Problem

  1.Open Chronos
  2.Write down Jira URL
  3.Click Continue

## Specifications

  - Chronos-timetracker version: Version 2.8.1
  - OS: Mojave : version 10.14 (18A391)

[2018-10-28 11:31] VladimirPal commented on #132
@mahmoud-elnaggar Could you send an url, please?

[2018-10-28 11:32] VladimirPal commented on #128
@silentdis Hi! Could you check 2.8.1, please?

[2018-10-28 11:33] VladimirPal commented on #119
@jabulon @fboender Hi! Could you check 2.8.1, please? All types of authorization should work

[2018-10-28 11:33] VladimirPal commented on #125
Fixed

[2018-10-28 11:33] #125 closed

[2018-10-28 11:34] VladimirPal commented on #107
@majsternc Hi! Could you check 2.8.1, please? All types of authorization should works now.

[2018-10-28 11:35] VladimirPal commented on #118
@btstream @tonylee2016 Hi! Could you check 2.8.1, please?

[2018-10-28 14:51] VladimirPal commented on #132
@mahmoud-elnaggar all previous versions can be found here https://github.com/web-pal/chronos-timetracker/releases
I've installed same jira server version as your(v7.5.2) and can't get any issue.
Is it possible to provide us temporary access to your server, could you create test account without access to private data? If it is send it please to mail.vpal@gmail.com

[2018-10-28 19:18] silentdis commented on #128
Working fine, thank you!

[2018-10-28 19:18] #128 closed

[2018-10-29 07:44] emprise1976 commented on #132
I have the same Problem.
1- Jira appears in Small window inside Chronos Screen (like built in WebView)
2- If I quit and restart Chronos I have to do the Login process again.

Chronos 2.7.3. works well

Jira ist Version JIRA v7.2.7

[2018-10-29 08:44] majsternc commented on #107
Works like a charm. Thank you!

[2018-10-29 09:15] VladimirPal commented on #132
@emprise1976
Is it possible to provide us temporary access to your server, could you create test account without access to private data? If it is, send it please to mail.vpal@gmail.com

[2018-10-29 09:17] VladimirPal commented on #114
@feldifux 2.8.1 fixed

[2018-10-29 09:17] #114 closed

[2018-10-29 09:17] VladimirPal commented on #103
@mahmoudbahaa @skrupenin Hi! Could you check 2.8.1, please? All types of authorization should work

[2018-10-29 09:17] #103 closed

[2018-10-29 09:18] #118 closed

[2018-10-29 09:18] #119 closed

[2018-10-29 09:18] VladimirPal commented on #96
@feldifux Could you check the last version, please?

[2018-10-29 09:18] #96 closed

[2018-10-29 09:20] VladimirPal commented on #76
@pospile @fobid @spacebromx @tracstarr @jloh @Elderry @kevingelion @ChangJoo-Park @rjmunro
Hi! Could you check 2.8.1, please? All types of authorization should work now!

[2018-10-29 09:20] #76 closed

[2018-10-29 09:21] VladimirPal commented on #115
@feldifux  Hi! Could you check 2.8.1, please?

[2018-10-29 09:46] pospile commented on #76
@VladimirPal yes, its working! Thanks.

[2018-10-29 10:06] emprise1976 commented on #132
@VladimirPal
Sorry I am not the Administrator of this Jira instance therefore I can't give you Access.

[2018-10-29 10:13] Treehopper opened #133 "Cannot sign in to Jira"
## Expected Behavior
Clicking the Continue button upon first sign-in, has any effect.

## Actual Behavior
No effect whatsoever. No entry in the Auth debug console

## Steps to Reproduce the Problem

  1. enter jira host
  1. enter user name and password
  1. click Continue

## Specifications

  - Chronos-timetracker version: 2.7.3
  - OS: Win10

[2018-10-29 10:31] VladimirPal commented on #133
@Treehopper Could you try the last version - 2.8.1?

[2018-10-29 10:32] VladimirPal commented on #132
@emprise1976 We going to release a new version today, which intends to fix auth issues, stay in touch, please.

[2018-10-29 12:31] Treehopper commented on #133
Actually it worked after I restarted the application. When I check the version now it displays 2.8.1. I assume it updated without me noticing.
Sorry, Google gave me a link (I don't remember) that made it seem liked 2.7.3 is the latest version.
I think this can be closed.

[2018-10-29 12:42] #133 closed

[2018-10-29 12:44] VladimirPal commented on #133
@Treehopper Thanks, feel free to create a new issue with a feature request or bug report.

[2018-10-29 15:03] mahmoud-elnaggar commented on #132
@VladimirPal
Me too I can't give you access because I don't have these privileges :)

And thanks for the new version 👍

[2018-10-30 18:38] VladimirPal commented on #132
@emprise1976  @mahmoud-elnaggar Check the latest(2.8.3) version, please.

[2018-10-31 05:10] kbni commented on #132
@VladimirPal I have just found out about this app and I can confirm that no version will allow me to log into my Jira instance which is hosted at a URL like this one: v7.12.3

If nobody has provided an on-premise Jira with this configuration, I'll set one up that can be accessed. Please let me know.

[2018-10-31 05:30] VladimirPal commented on #132
@kbni It will help us a lot. You can send credentials to mail.vpal@gmail.com

[2018-10-31 12:37] piapatricktresp opened #136 "Chronos restarts all the time - macOS V10.14 // Jira v7.12.0"
## Expected Behavior

Chronos is firing up and starting with saved credentials or forces to login

## Actual Behavior

Chronos is firing up, loggin in ( i can see the tasks ) and closes. Any restart leads to same behaviour - no work possible

## Steps to Reproduce the Problem

  1. Install latest chronos version
  2. start chronos
  3. enter credentials

## Specifications

  - Chronos-timetracker

[2018-10-31 19:07] VladimirPal commented on #132
@kbni  @mahmoud-elnaggar @emprise1976 Check the latest(2.8.4) version, please.

[2018-10-31 19:07] #132 closed

[2018-10-31 19:08] VladimirPal commented on #136
Check the latest(2.8.4) version, please. if it will not help try to clear cache.
Chronos -> Clear cache

[2018-11-01 09:16] piapatricktresp commented on #136
i confirm that the latest version is working for a couple of ppl 👍
thx

[2018-11-01 09:16] #136 closed

[2018-11-02 14:37] tomcoonen opened #138 "Bug: Unexpected logout"
## Expected Behavior
Chronos should stay logged in to the Jira instance.

## Actual Behavior
When trying to perform an action, Chronos is logged out. Restarting the app shows a login screen.

## Steps to Reproduce the Problem

  1. Login
  2. Do nothing for a while
  3. Issue list is empty after refresh

## Specifications

  - Chronos-timetracker version: 3.8.4
  - OS: MacOS 10.14.1

[2018-11-05 07:12] emprise1976 opened #139 "Chronos needs to log in every start"
## Expected Behavior
Chronos should be logged into the jira instance even after quiting the application.

## Actual Behavior
I Need to Login in again every time I start the application after Windows reboots

## Steps to Reproduce the Problem

  1. Start Chronos and Login
  2. Quit Chronos reboot Windows.
  3. Start Chronos again and Login in again

## Specifications

  - Chronos-timetracker versio

[2018-11-06 10:09] emprise1976 commented on #139
I also have the Problem that the application suddenly does a Logout during runtime and no entry will be logged in Jira.

[2018-11-06 12:28] VladimirPal commented on #139
@emprise1976  Try 2.8.5, please, logout and then login again(it should fix the issue)

[2018-11-07 06:56] tomcoonen commented on #138
@VladimirPal seems to be fixed for me!

[2018-11-07 09:50] #138 closed

[2018-11-07 09:52] #139 closed

[2018-11-07 14:08] bardic opened #140 "Sort by priority"
## Expected Behavior
Would like to sort by tickets by priority in my issues pane

## Actual Behavior
Doesn't appear to be able to do this

## Steps to Reproduce the Problem

1. Look at issue pane
2. No option to sort by priority

## Specifications

  - Chronos-timetracker version: 2.8.6
  - OS: macOS 10.13.4

[2018-11-09 12:45] Perjan commented on #87
+1
That would be great. It happened several times to me today that my time was not logged, because the connection was pretty bad.

[2018-11-09 13:44] VladimirPal commented on #87
Thank you for the proposal, definitely, we will implement it

[2018-11-13 07:13] emprise1976 commented on #139
Issue is fixed thx

[2018-11-19 06:17] turnerguo opened #142 "Feature Request: Save the filter for each PROJECT, BORADS or SPRINT."
Firstly, this product is really what I want, it really let us focus on jobs.
But if there're more projects or boards to be managed, it will be very hard to manage the filters, because the filter will reset every time I switch the projects list.
![image](https://user-images.githubusercontent.com/633880/48689455-a4486680-ec05-11e8-9f7e-9742ca54750e.png)
I suggest to change the Close button to Save f

[2018-11-19 06:44] VladimirPal commented on #142
@turnerguo Thank you for the proposition.
We just need to save filters by default(without save button).
We will do it soon.

[2018-11-20 09:05] AhmedBarghash opened #143 "Issue on mac OS Mojave"
## Expected Behavior

enter my team name.
enter my username and password
see the main screen.

## Actual Behavior

enter my team name.
enter my username and password
keep loading and no action.

## Steps to Reproduce the Problem

  1. the same action happens every single time.

## Specifications

  - Chronos-timetracker version:
  - OS:

[2018-11-23 13:10] VladimirPal commented on #143
@AhmedBarghash  We were unable to reproduce the problem on mac OS Mojave.
Probably the reason is something else. Try to clear a cache and let us know please.
Chronos -> Clear cache.

[2018-11-26 16:22] pmblatino opened #144 "Screenshots not working"
## Expected Behavior
Take 10 screenshots in the lapsed of 10 mins

## Actual Behavior
its not taking the screenshoots eventho i change the settings on the jira config for the chronos plugin to take 10 screenshots in the lapsed of 10 mins

## Specifications
using jira cloud version Jira 71807a49 , Jira Service Desk Application 3.3.0-OD

  - Chronos-timetracker version: 2.8.6
  - OS: windows 10 pro

[2018-11-27 01:42] AhmedBarghash commented on #143
@VladimirPal
I tried to clear cache. same thing happend loading and no action
<img width="499" alt="screen shot 2018-11-27 at 3 40 26 am" src="https://user-images.githubusercontent.com/18752334/49052872-6693a100-f1f6-11e8-8b7b-8f0ba8e5048e.png">

[2018-11-28 07:54] tomcoonen opened #145 "Make the time after 'away mode' count up non-linear"
## Expected Behavior
Have the time worked count up within a few seconds, not linear until a few hours is added up.

## Actual Behavior
The time is added linear, so it can take quite a while for it to finish

## Steps to Reproduce the Problem

  1. Start timer
  2. Go idle (walk away)
  3. Come back and click on 'keep'

## Specifications

  - Chronos-timetracker version: 2.8.6
  - OS: macOS

[2018-11-29 17:02] kevingelion commented on #143
Here to report the same issue - I just keep seeing a spinner. This is after upgrading and having my cache updated (I was previously logged in with the old version then logged out after updating).

I tried clearing my cache and everything. I am prompted for my email and then told I am being taken to my SSO provider but nothing happens & I just see the spinner. Same behavior after trying to log in w

[2019-01-14 12:04] mennan opened #146 "Keyboard Shortcuts"
Do you think add keyboard shortcuts to Chronos? For example start/stop time tracking shortcut, new issue, change workflow.

## Specifications

  - Chronos-timetracker version: **2.8.6**
  - OS: **macOS Mojave 10.14.3 Beta (18D39a)**

[2019-01-17 02:35] schinckel commented on #143
I'm seeing this too. Brand new user, Mojave.

[2019-01-17 02:48] schinckel commented on #143
I believe it's when it tries to render the 2FA page.

[2019-01-24 22:00] mteske opened #147 "https system proxy is not used on mojave"
## Expected Behavior
chronos uses the proxy server configured in system preferences

## Actual Behavior
chronos tries to directly connect to specified jira server
verified with wireshark
## Steps to Reproduce the Problem

  1. Try to login
  1.
  1.

## Specifications

  - Chronos-timetracker version: 2.8.6
  - OS: OSX Mojave

[2019-01-25 17:34] danilofilippo opened #148 "Cannot Login (Possibly due to 2FA?)"
## Expected Behavior

After email/password input, a 2-factor-authentication prompts for a code to continue with login

## Actual Behavior

After inputing the email and password, it keeps loading infinitely. No message on the Auth debug console, not even a timeout of sorts. Restarting the application/clearing cache does not solve the problem.

## Steps to Reproduce the Problem

  1. Have a jira acc

[2019-02-05 21:53] geekonek commented on #119
Hi, i just tried to connect to two factor protected account and could not login using account password or api token. Tried on 2.8.6. Was this issue resolved?

Also there is not a single line in auth log window.

[2019-02-11 16:20] guskuma opened #149 "Can't login possibly due to special character in password"
## Expected Behavior
Log in with user and password in our jira server

## Actual Behavior
Can't login: "Unknown Error" and no message in Auth debug console

## Steps to Reproduce the Problem

  1. Fill our jira server address
  1. Fill username
  1. Fill password (contains special characters)

## Specifications

  - Chronos-timetracker version: 2.8.6 x86_64
  - OS: Linux Mint 19.1 MATE

[2019-02-13 14:14] ilya-lopukhin opened #152 "Can't view thumbnails of attachements in description"
## Expected Behavior
When i click on a thumbnail, i expect to open a corresponding attachment in a new window.
This window should contain a gallery which contains all attachments from the JIRA issue description
If an attachement in a gallery is not an image which could be viewed, i want to see a file placeholder with a file extension which can be donwnloaded

## Actual Behavior
click on thumbnail

[2019-02-13 20:40] mcharris opened #153 "Cannot login with Google using SSO"
## Expected Behavior
Login using an google account with external SSO.

## Actual Behavior
When selecting "Log in with Google" it sits there with just a loading spinner. You can see our branded SSO Login for a split second and then it disappears to the loading spinner until you close the window.

## Steps to Reproduce the Problem

  1. At the "Log in to your account" page type in (please message me

[2019-02-14 16:25] billfeth opened #154 "Wrong worklog duration is saved if you stop recording from the menubar icon without bringing Chronos to the foreground"
## Expected Behavior
The Chronos menubar item always shows the correct duration when recording time while the Chronos app is in the background, and Chronos records the full duration of my time on a task when I stop recording from the menubar with the Chronos app in the background.

## Actual Behavior
The Chronos menubar item seems to "go to sleep" when the Chronos app is in the background. The tim

[2019-02-14 16:28] billfeth commented on #154
Thanks for taking a look!

[2019-02-18 12:25] VladimirPal commented on #154
@billfeth Hi! Thank you for the detailed issue.
Could you try please 3.0.0-beta, it should be fixed
https://github.com/web-pal/chronos-timetracker/releases/download/v3.0.0-beta/Chronos-3.0.0-beta.dmg

[2019-02-18 12:25] VladimirPal commented on #152
Implemented in 3.0.0

[2019-02-18 12:25] #152 closed

[2019-02-18 12:26] VladimirPal commented on #153
@mcharris Hi!
Could you try please 3.0.0-beta, it should be fixed
https://github.com/web-pal/chronos-timetracker/releases/download/v3.0.0-beta/Chronos-3.0.0-beta.dmg

[2019-02-18 12:27] VladimirPal commented on #149
@guskuma  Hi!
Could you try please 3.0.0-beta, it should be fixed

[2019-02-18 12:27] VladimirPal commented on #148
@danilofilippo  Hi!
Could you try please 3.0.0-beta, it should be fixed

[2019-02-18 12:28] VladimirPal commented on #147
@mteske Hi!
Could you try please 3.0.0-beta, it should be fixed

[2019-02-18 12:28] VladimirPal commented on #143
Hi!
Could you try please 3.0.0-beta, it should be fixed

[2019-02-18 13:50] earlgrei commented on #149
Can confirm 3.0.0-beta working with my password.  Has a special char and did not work previously.

[2019-02-18 14:27] danilofilippo commented on #148
Hi @VladimirPal, thanks for the reply!

I just tried with version 3.0.0-beta (from [here](https://github.com/web-pal/chronos-timetracker/releases/tag/v3.0.0-beta)), but the behaviour is still the same.

The auth debug console still shows no message. I then tried to download the debug version and it seems that no request is sent after I input my email/password, which I found kind of weird (but I ne

[2019-02-18 18:06] VladimirPal commented on #148
@danilofilippo Try 3.0.0, just released, should work.

[2019-02-18 18:07] #149 closed

[2019-02-18 18:11] guskuma commented on #149
@VladimirPal thank you for your efforts. I confirm it's working for me with the very same password I could not log before.

[2019-02-18 20:33] #112 closed

[2019-02-18 20:44] jhult commented on #143
I am running version 3.0.0 on macOS 10.14.3 and have no problems logging in.

I do not currently use 2FA nor SSO.

[2019-02-18 20:49] jhult opened #159 "Code does not display nicely"
## Expected Behavior
Show text in {code} tags nicely formatted.

## Actual Behavior
Text runs off the page.

## Steps to Reproduce the Problem

  1. Create a Jira issue with {code} tags
  1. View in Jira and then notice the difference in Chronos

## Specifications

  - Chronos-timetracker version: 3.0.0
  - OS: macOS 10.4.3

[2019-02-18 23:09] danilofilippo commented on #148
Works perfectly now, thanks!

On a (very minor) side note: the Auth debug console close button doesn't seem to be working.

Cheers

[2019-02-18 23:09] #148 closed

[2019-02-19 18:08] VladimirPal commented on #153
@mcharris Could try 3.0.1 please?

[2019-02-19 23:49] schinckel commented on #143
Yes, able to log in using 2FA now.

[2019-02-20 06:44] #143 closed

[2019-02-23 08:13] #153 closed

[2019-02-25 16:17] ooredroxoo opened #163 "Can't set worklog comment."
## Expected Behavior
The worklog comment button should display the worklog comment input field when clicked.

## Actual Behavior
The worklog comment button won't display the worklog comment input field when clicked.

## Steps to Reproduce the Problem

  1. Select an issue.
  2. Click on the play button.
  3. Click on the pencil button.

## GIF Capture

![2019-02-25_13-13-31](https://user-images.gi

[2019-02-25 16:53] michaelbeauchemin commented on #163
Seeing the same behavior on OSX - 3.0.1 installed this morning.

[2019-02-25 20:25] ooredroxoo opened #164 "Issue list do not obey filter ordering."
## Expected Behavior
When listing issues from a filter with a order condition the list should be ordered following the filter order.

## Actual Behavior
Issues are listed by project first.

## Steps to Reproduce the Problem

  1. Create a filter with priority order that fetch issues on multiple projects.
  2. Set this filter as source for the issue list.
  3. See that the ordering isn't obeyed.

#

[2019-02-26 12:32] ooredroxoo commented on #123
I do not know how useful it would be, because if you pause the timer and resume let say after 30min, it should have it start delayed in 30min or be log as done when you hit stop.

I mean it beacuse in this example you would have a 30min gap inside your worklog, that 30min gap can't be placed inside the worklog, it has to be ajusted at it's start or at it's end.

So in this same example stopping an

[2019-02-26 20:42] mteske commented on #147
yes, thanks, this works fine for me now.

[2019-02-26 20:42] #147 closed

[2019-02-28 15:19] ooredroxoo opened #166 "Idle time alert shows up right after 5 min idle time has passed."
## Expected Behavior
Idle timer should be displayed when user resumes it work any time after 5 min of idle time, displaying the total time ammout that he was idle (with the period).

## Actual Behavior
Idle timer alert is displayed right after 5 min of idle time. The periodo is incorrect and it lost it's style.

## Steps to Reproduce the Problem

  1. Start timer on a target computer.
  2. Wait 5

[2019-03-06 01:26] parmira5 commented on #142
I'm new to development/contributing to open source. I'd love to take a shot at this if that's okay.

[2019-03-07 16:50] theCalcaholic opened #167 "Frequent UI freezes"
## Expected Behavior
Interactions with the JIRA backend should work flawlessly and the interface should always respond to interactions.

## Actual Behavior
On many occasions, parts of the UI are frozen, including
- The tracking pane (even the time display)
- The 'Add/Edit Task' buttons
- The Quit-Button
- Probably many more

However, in some cases I can still select tasks from the left pane and ha

[2019-03-08 10:03] deep9 commented on #166
I can also confirm it stopped working after the update. I noticed that in master on 09dc84883284f493759a4c9c18a978bcde0408e4 when playing with the source.

[2019-03-08 10:13] deep9 commented on #87
Might be related, or maybe a new feature request. But when the timer is running and you close the application (windows update in my case) the time is lost.

Since the offline time logging is part of this request, I think it makes sense to store the running timer in some "persistent" storage (local storage?) and continue on next start, maybe immediately triggering the away dialog?

[2019-03-11 10:44] Bcow7 opened #168 "Impossible to resize window to see all issues on MBP 13.3"
## Expected Behavior
See whole list of issue on 13.3 screens

## Actual Behavior
Cannot see first issue at the bottom because window's height is too be and it is not possible to decrease height of main window

## Steps to Reproduce the Problem

  1. Use 13.3 screen or smaller
  2. Launch Chronos with more than 5 issues in project displayed

## Specifications

  - Chronos-timetracker version: 3.0.1

[2019-03-11 10:55] Bcow7 opened #169 "Cannot mention some users in comments"
## Expected Behavior
Be able to mention some users (with @...) in new comments in issues

## Actual Behavior
"@" character doesn't display any users list

## Steps to Reproduce the Problem

  1. Open an issue in right panel
  1. Click on "Comments" tab
  1. Type a new comment and try to mention a user of the project

## Specifications

  - Chronos-timetracker version: 3.0.1
  - OS: macOS 10.13.16

[2019-03-19 10:11] deep9 commented on #72
I think this is now really needed, because as of Monday (3/18) the time logged via Chronos is not visible for tempo. I can't figure out what is the cause, but my guess is the recent release of Tempo (no 14th)

Remaining time is properly lowered, logged time is visible in Activity tab, but not in the Worklog.

[2019-03-21 00:57] feldifux commented on #72
+1 for this. no support for tempo makes the app unusable for us

[2019-03-21 12:09] deep9 commented on #72
For some strange reason the tracking works... Jira...

[2019-03-21 12:37] feldifux commented on #72
this is a bug on tempo's side. I've contacted them and they are working on a fix for it. no further action needed from your side then.

[2019-03-24 09:23] w0pr opened #170 "editing issue opens previously edited issue"
## Expected Behavior

Edit button should open currently selected issue to be edited

## Actual Behavior

Edit button opens previously edited issue

## Steps to Reproduce the Problem

  1. select issue, edit, save
  2. select other issue, edit

## Specifications

  - Chronos-timetracker version: v3.0.1
  - OS: Windows 10 Version	10.0.17134 Build 17134

[2019-03-27 02:37] SimeonC opened #171 "Global Recent Worklogs"
## Scenario

If like me you have to work across multiple projects and track time in each of them - switching between the different projects and finding tasks becomes quite tedious. (#142 will help a bit with this). I have a project I use to track the time I spend on Manager tasks like reviewing Pull Requests and in other projects, I'm tracking the coding time I spend.

## Solution

I'm not sure wh

[2019-04-01 12:10] VladimirPal commented on #170
Can't reproduce it, checked on windows, works well

[2019-04-01 12:10] #170 closed

[2019-04-01 12:20] VladimirPal commented on #167
@theCalcaholic Did you find the pattern when it happens?

[2019-04-01 14:15] #144 closed

[2019-04-02 13:21] VladimirPal commented on #164
Jira api doesn't respect jql filter order, we display issues in order which they come.
Someday if jira will fix it, it will work properly.
Parse jql and order it manually will not work cause of pagination.

[2019-04-02 13:21] #164 closed

[2019-04-02 13:31] VladimirPal commented on #159
It displays a little bit different, without highlight, but description return from api in html format, so we display what jira returns, if they fix it, it will work,

[2019-04-02 13:31] #159 closed

[2019-04-02 13:40] #123 closed

[2019-04-02 18:20] VladimirPal commented on #142
@parmira5 Hi! Thank you for your request, but this feature not quite suitable to start contributing.

[2019-04-02 18:28] #124 closed

[2019-04-03 13:37] VladimirPal opened #172 "Can't change issue type during add new issue"

[2019-04-03 14:23] #122 closed

[2019-04-03 14:24] #113 closed

[2019-04-03 16:51] theCalcaholic commented on #167
@VladimirPal Unfortunately not, though I still believe it might be related to network flakiness (I'm behind a company VPN most of the time while working).

I eventually migrated to a different tool. Sorry for not being able to provide a lot more insights here.

[2019-04-03 20:09] VladimirPal commented on #167
@theCalcaholic which tool?

[2019-04-04 10:39] #106 closed

[2019-04-04 10:39] #142 closed

[2019-04-04 10:39] #163 closed

[2019-04-04 10:39] #166 closed

[2019-04-04 10:39] #168 closed

[2019-04-04 12:37] #172 closed

[2019-04-04 12:37] #154 closed

[2019-04-04 12:45] #140 closed

[2019-04-05 22:07] theCalcaholic commented on #167
This one: https://github.com/johannesjo/super-productivity

It doesn't offer the same degree of JIRA integration, but it works better with my network situation, because it's basically an offline project management tool which can be partially synced to some backends (JIRA, among others).

[2019-04-06 12:18] varuzam opened #173 "Feature request: scale in/out the interface"
## Expected Behavior
It woluld be nice to have ability to scale in/ scale out interface

## Actual Behavior
ctrl +/- does not work

  - Chronos-timetracker version: 3.1.0
  - OS: Ubuntu 18.04

[2019-04-09 02:26] yomn61 commented on #169
Hello there, I am a new contributor and would like to work on this issue. Where should I start?

[2019-04-09 08:57] VladimirPal commented on #169
@yomn61 Hi!
Read contributing document.
https://github.com/web-pal/chronos-timetracker/blob/develop/CONTRIBUTING.md

So you need to check how user mention works in jira. They show a dropdown when you type @ sign.
You need to do a similar with atlaskit dropdown https://atlaskit.atlassian.com/packages/core/dropdown-menu/example/with-anything-as-a-trigger

I've prepared API request for this feature,

[2019-04-09 14:14] MattBH opened #174 "UI does not fit in window."
## Expected Behavior
Be able to see the time start/stop button with the application at a reasonable size.

## Actual Behavior
Need to span window over two displays to see the start/stop button.

## Steps to Reproduce the Problem

  1. Click on a ticket.
  2. Verify no start/stop button in view.
  3. Expand window until start/stop button comes into view

## Specifications

  - Chronos-timetracker v

[2019-04-09 16:05] VladimirPal commented on #174
Could you provide a screenshot?

[2019-04-09 17:47] MattBH commented on #174
![image](https://user-images.githubusercontent.com/4545960/55822562-e1869580-5acd-11e9-992e-a7e7b8612f2f.png)

[2019-04-22 06:14] yomn61 commented on #169
I am still working on this issue and have been trying to implement this feature as you said, however, I noticed the Issue Description has the functionality we're looking for but I wasn't able to find where that call was made. Do you know where that function occurs and if it would be feasible to reuse that code?

Thank you.

[2019-04-22 22:03] VladimirPal commented on #169
@yomn61 Hi! I appreciate you try to implement the feature. Maybe you could develop it with some mock data? Just hardcode the list of users which can be mentioned, when it will be done, i'll connect api request to the component.

[2019-04-23 10:53] deep9 commented on #174
It happens when you have code in description. Jira will add some formatting to it, if you just copy the CSS from jira code (basics) you will get line wraps, etc. and the details tab is ok and button to start/stop is available again.

But, I think the button should have some fixed location not dependent on the width of the rest of the page ;)

[2019-04-23 19:47] VladimirPal commented on #174
Fixed in 3.2.1

[2019-04-26 10:52] MattBH commented on #174
Just updated and still have the same issue.

[2019-05-09 07:32] tomcoonen commented on #145
@VladimirPal this is not implemented yet? Time is still animating a long time to get to the correct amount 'worked'.

[2019-05-16 10:06] marcoValkyriweb opened #180 "Feature Request: Reminder to log time"
Hi,
if you've ever used Toggl for example, it will give a small pop-up reminding one to log time if one isn't tracking anything. It would be useful for when one forgets to start an issue's time tracking.

Kind Regards,
Marco

[2019-06-12 13:42] shorkin opened #181 "Cant see groupping by user"
## Expected Behavior
See worklogs grouped by user in Timeline section

## Actual Behavior
No any worklogs shown (in case of Projects of Issues they are shown to the same day) see video https://take.ms/BuDKD

## Steps to Reproduce the Problem

  1. Go to timeline
  1. Select grouping by users
  1. No any worklogs shown (in case of Projects of Issues they are shown to the same day)
see video https:/

[2019-06-18 11:46] mib-s opened #182 "Issue logging on to jira throu Chronos Windows application"
Yesterday it work but today one of my co-workers needed to install chronos and he could not connect. My instance was working but i tried to logout and login again and now i have the samme issue.

## Expected Behavior
chronos should login and show issue list

## Actual Behavior
Stays at login animatinon

## Steps to Reproduce the Problem

  1.Open chronos
  2. Input our jira domain (cloud)
  3. App

[2019-06-19 02:01] AndrewKevin commented on #182
Experiencing this on `OSX 10.14.5` too

[2019-06-19 10:45] VladimirPal commented on #182
@mib-s @AndrewKevin Thank you for the bug report folks! 3.2.5 fixed, check it, please.

[2019-06-19 10:45] #182 closed

[2019-06-19 10:46] VladimirPal commented on #181
@shorkin Will be fixed soon.

[2019-06-19 10:46] shorkin commented on #181
Thanks

--
С наилучшими пожеланиями,
Алексей Шоркин

Интернет-агентство "Новый Сайт", www.newsite.by
Тел./факс: (+375 17) 290-35-30, 290-35-32
Velcom (029) 331-0119, МТС (029) 778-0119
Адрес: Беларусь, г. Минск, ул. Берестянская 11
Email: a1@newsite.by  | Skype: alexeyshorkin

ср, 19 июн. 2019 г. в 13:46, Vladimir <notifications@github.com>:

[2019-06-19 10:46] VladimirPal commented on #180
@marcoValkyriweb Sounds reasonable, we will do it. Thanks

[2019-06-20 13:36] ramses-bemobile commented on #182
@mib-s @AndrewKevin does the new version has fixed the issue for you? I'm still having the problem with the new version. I have deleted the old version and installed the new one 3.2.5. ¿ @VladimirPal Do i have to take any additional steps to make it work?

[2019-06-20 13:38] AndrewKevin commented on #182
@ramses-bemobile `3.2.5` is working for me

[2019-06-20 13:42] Bokler opened #183 "Can not log in"
## Expected Behavior
After filling in the field (http://prntscr.com/o4ebza) and clicking the "Continue" button should redirect to the authorization form

## Actual Behavior
infinite loader (http://prntscr.com/o4ed7k)

## Steps to Reproduce the Problem

  1. Enter your team
  2. Press the "Continue" button

## Specifications

  - Chronos-timetracker version: 3.2.4, 3.2.5
  - OS: macOS Mojave Versio

[2019-06-20 16:28] VladimirPal commented on #182
@ramses-bemobile Try 3.2.6 - it will work.
It's a different issue, Atlassian changed auth form markup and broke our window, so only from 3.2.6 you can auth.

[2019-06-20 16:28] VladimirPal commented on #183
@Bokler Try 3.2.6 - it will work.

[2019-06-20 16:28] #183 closed

[2019-06-27 07:29] dmkk3r opened #184 "Chronos 3.2.6 login issue"
## Expected Behavior
Chronos should log user in.

## Actual Behavior
Chronos stays at login mask with loader.

## Steps to Reproduce the Problem

  1. Start Chronos.
  2. Input Jira Domain.
  3. Input user cred.

## Specifications

  - Chronos-timetracker version: 3.2.6
  - OS: Windows 10

[2019-06-27 12:39] Amr1977 commented on #184
Same issue for me.

[2019-06-27 15:11] VladimirPal commented on #184
@Amr1977 @dmkk3r Make sure you use the latest 3.2.6 version. Try to install it again https://github.com/web-pal/chronos-timetracker/releases

What type of authentication are you using? Login/Password or google? Cloud or Server jira?

[2019-06-27 15:50] dmkk3r commented on #184
Iam on the latest version. Same problem after reinstall. Login via password on local jira server.

[2019-06-27 16:35] VladimirPal commented on #184
@dmkk3r What's you jira server version? Can't reproduce it on my local server.
Could you also try old chronos versions for test

[2019-06-27 16:42] VladimirPal commented on #184
@Amr1977 What is your OS? Windows 10?

[2019-06-27 16:47] Amr1977 commented on #184
@VladimirPal MacOS 10.14, I tried older versions 3.2.3/3.2.5 , didn't work

[2019-06-27 17:57] dmkk3r commented on #184
OS: Windows 10
Jira server: 7.13.1

[2019-06-27 19:35] VladimirPal commented on #184
@Amr1977 Cloud or Server?

[2019-06-28 04:59] dmkk3r commented on #184
I have tested versions 3.2.6, 3.2 and 3.1, none of them has logged in. Is there a way to view the error message? Logs or open the Developer Console?

[2019-06-28 14:48] ivanyankov commented on #184
Hi team, I have the same issue.

macOS High Sierra - version 10.13.6

I am using the latest version 3.2.6.

[2019-06-30 12:53] Amr1977 commented on #184
@VladimirPal Turned to be my firewall settings, (everyone also make sure to use correct domain spelling)

[2019-07-01 13:39] dmkk3r commented on #184
I have adjusted the firewall settings, but chronos still can not connect.

Could it be that chronos can not cope with the company proxy?

[2019-07-01 16:20] Amr1977 commented on #184
@dmkk3r Try using VPN, if you could login then you still have to adjust more options in firewall.

[2019-07-10 13:00] kwuite opened #185 "Feature request?: create sub task for stories"
## Expected Behavior

Be able to create sub tasks for a story.

## Actual Behavior

Unable to find this feature and am not sure if it is there and I am just blind or whether this is a feature request.

## Specifications

  - Chronos-timetracker version: (unable to find this)
  - OS: Windows 10

[2019-07-15 08:25] VladimirPal commented on #184
@dmkk3r @ivanyankov Do you use any system proxy?

[2019-07-15 10:30] dmkk3r commented on #184
The problem was that the Jira server was equipped with a self-signed certificate and access was only forwarded via http. I manually referenced the server via http and it worked.

[2019-07-16 18:00] susamn opened #186 "Can we have filter for Reporter"
## Specifications
It would be cool to have the Reporter filter available.
  - Chronos-timetracker version: 3.2.6 (3.2.6)
  - OS: MacOS Mojave

[2019-07-17 17:41] deep9 commented on #167
I'm not sure whether my behavior is related, but for me the app freezes (I would say 100%) using following pattern:

- Track one ticket
- Search for another one and have it displayed
- Finish tracking of the current ticket and quickly click the tracking start button again (to start the another ticket)

Usually the app freezes (the timer stays on 00:00) and I have to close it via task manager. I do

[2019-07-17 17:45] deep9 opened #187 "Idle time keeps adding up once user is back from idle"
## Expected Behavior
Once the activity resumes, the time should be stopped

## Actual Behavior
The timer keeps on adding time

## Steps to Reproduce the Problem

  1. Start the tracker
  1. Wait ~5 minutes (idle)
  1. Idle popup shows up, time keeps adding

## Specifications

  - Chronos-timetracker version: 3.2.6
  - OS: Windows 10

[2019-07-30 17:07] maxmalov commented on #167
I'm experiencing the same issue :arrow_up: on Ubuntu 18.04. Probably might be able to debug it locally from the sources at the end of the week, if it is possible :)

[2019-08-01 14:06] ksclarke commented on #123
I came here to request this same thing. I think it would be okay to just take the time from the end of the time block. The alternative is getting a bunch of small logs recorded on the ticket. If I work for three hours and every 30 minutes someone is coming in and talking with me and I want to not have that time recorded as active work I get a bunch of broken up worklogs on the ticket.

I've tried

[2019-08-01 14:14] Dorlosen commented on #123
@ksclarke Nice that someone finds this functionality useful. It is actually default on the integrated time tracker in Jira, so i use that instead of Chronos now. It is useful because my work environment is flexible. I switch between tasks often while working on a main task. I want to pause the main task if my time is interrupted with something else :)

[2019-08-01 14:39] ksclarke commented on #123
Hmm, my work's Jira must not have that plugin (or be up to that version yet). I don't see an integrated tracker in Jira, just a way to manually enter a worklog and time period.

[2019-08-01 14:55] Dorlosen commented on #123
Not sure if it's integrated or a plugin. But it looks like this:

![image](https://user-images.githubusercontent.com/36210967/62303773-03d96000-b47d-11e9-971a-1c6526625246.png)

![image](https://user-images.githubusercontent.com/36210967/62303701-e4423780-b47c-11e9-80b2-92def609f306.png)

[2019-08-08 14:58] ksclarke opened #188 "Misspelled popup dialog text"
## Expected Behavior

Dissmiss should be spelled Dismiss

## Actual Behavior

Dismiss is spelled Dissmiss

Here is the line in the code:

https://github.com/web-pal/chronos-timetracker/blob/develop/app/renderer/containers/Popups/IdlePopup/IdlePopup.jsx#L47

[2019-08-13 08:20] priegler opened #189 "As a user I want to change the jira issue for a running timer"
## Expected Behavior
User starts tracker for a specific issue. When the work is done he/she finds out that the timer was started for the wrong issue. The user would now like to change the jira issue (either before stoping the timer or afterward in the edit worklog view).

## Actual Behavior
Currently, I don`t see any possibility to change the jira issue for a worklog.

## Steps to Reproduce the Pr

[2019-08-13 09:22] priegler commented on #189
I thought about it and my suggestion would be to show a dialog when stopping a task (similar as the "tempo plugin" tracker in jira does it).
In here you can then edit the worklog values before submitting it: start time, duration, comment, jira key.

[2019-08-13 19:44] Atomzwieback opened #190 "Code block in comments not show up formatted."
## Expected Behavior
I expect code blocks to be displayed as in the JIRA web version.

## Actual Behavior
Code blocks are displayed in raw formatting.

## Steps to Reproduce the Problem

  1. Write the following code block in the JIRA web version:
      {code:sql} SELECT * FROM table_name;{code}
  2. Open the task in chronos and open the comment area.

## Specifications

  - Chronos-timetracker ve

[2019-08-27 14:11] kwuite commented on #185
Not waiting any longer. Closing thread.

[2019-08-27 14:11] #185 closed, assigned to nobody

[2019-08-30 10:31] porn commented on #108
Same issue, same solution on Kubuntu 18.04

[2019-09-12 17:31] garyttierney commented on #57
~Is this still a supported feature? I haven't been able to find where I can select my JIRA filters.~

Nevermind, I see they appear once you start typing into the project/boards search.

[2019-10-01 10:28] piotrlg commented on #108
The same for Manjaro with KDE as of 01.10.2019. gnome-keyring resolved the issue.

[2019-10-02 02:43] parvezalisha commented on #169
@VladimirPal Is this still being worked on? If not, can i pick it up? I am very familiar with this technology stack.

[2019-10-02 14:54] VladimirPal commented on #169
@parvezalisha Of course, go-ahead

[2019-10-11 09:05] dhanushkac commented on #110
Can I pick this?

[2019-10-11 09:24] VladimirPal commented on #110
@dhanushkac Of course

[2019-10-14 14:13] FurkanSelvi opened #191 "Not compatible with macOS catalina version."
Not compatible with macOS catalina version.

![Screen Shot 2019-10-14 at 17 09 22](https://user-images.githubusercontent.com/6359484/66757693-5f749080-eea5-11e9-8fc0-38a48679d423.png)

## Specifications

  - Chronos-timetracker version:4.1.0
  - OS: macOS Catalina 10.15

[2019-10-15 14:09] nmalinowski opened #192 "Feature Request: Dark Mode"
Feature Request: Dark Mode

Any chance we can get a Dark Mode/Dark Theme?

[2019-10-17 12:48] VladimirPal commented on #191
@FurkanSelvi  I've just tried, it works. Seems like apple postponed temporarily requirements to notarization applications.

[2019-10-17 12:52] VladimirPal commented on #192
@nmalinowski I will definitely implement it, but can't say any date yet

[2019-10-17 12:53] VladimirPal commented on #190
@Atomzwieback You can check native view to see code block properly

[2019-10-17 12:54] VladimirPal commented on #189
Dialog when stopping a task is a very good idea, I will implement it soon, thank you.

[2019-10-17 12:55] #188 closed, assigned to nobody

[2019-10-17 12:55] VladimirPal commented on #187
@deep9 check the latest version, please

[2019-10-17 12:55] #187 closed, assigned to nobody

[2019-10-17 12:56] VladimirPal commented on #186
@susamn Could you clarify please what you mean?

[2019-10-17 12:57] VladimirPal commented on #181
Fixed

[2019-10-17 12:57] #181 closed

[2019-10-24 13:40] achertovsky commented on #180
additional to this request is following:
when time tracking is launched ask sometimes (lets say every 5 min or configurable value) if i do still work on the same issue

reason for it:
we all at least once started to track time to one issue, finished, solved alot of others and in the end of day all time is tracked to first and we do not remember how many on every task of the day was spent.

[2019-11-04 08:55] rokopi-byte opened #198 "No filters on Chronos 4.2.0 for Linux"
## Expected Behavior
Filter field under project or board selection dropdown list

## Actual Behavior
No field

## Steps to Reproduce the Problem

  1.There are no steps to reproduce, there is no field for filters, while I see it in pictures in other issues..

## Specifications

  - Chronos-timetracker version: 4.2.0
  - OS: Ubuntu 16.04

[2019-11-04 14:32] jhult commented on #191
The latest release (4.2.0) works for me on Catalina (10.15.1 - 19B88).

[2019-11-05 17:57] jheasley322 opened #199 "Issue sorting"
## Expected Behavior
Sorting should be passed in from JQL on user starred searches using custom fields

## Actual Behavior
search is returning the correct issues but oly sorting desc by issue id

## Steps to Reproduce the Problem

  1. issues must have a customfield that contains numeric values
  2. create starred search that includes a sort by the custom field
  3. open search in chronos, isses s

[2019-11-05 18:09] VladimirPal commented on #199
Reload the app 4.2 and try again, it should work, let me know, please.

[2019-11-08 07:29] HariShyamU commented on #146
Can I work on this?

[2019-11-08 09:50] VladimirPal commented on #146
Of course

[2019-11-11 16:32] tribbloid commented on #108
solution doesn't work here, I have both libsecret and gnome-keyring but still got the same error

[2019-11-11 16:37] VladimirPal commented on #108
@teorge did you try 4.2.0 version?

[2019-11-17 13:30] mustdobetter opened #200 "Pause not working"
## Expected Behavior
When selecting the pause button in the status bar menu, the timer should temporarily pause until restarted.

## Actual Behavior
The Chronos app is brought to the front, but the timer keeps on ticking.

## Steps to Reproduce the Problem

  1. Open the app's menu in the MacOS status bar.
  1. Select 'Pause'

## Specifications

  - Chronos-timetracker version: 4.2.0
  - OS: Catal

[2019-11-28 07:28] pnrdk opened #201 "Chronos 4.2 is "freezing" in Windows 10"
## Expected Behavior
Chronos will respond instantly

## Actual Behavior
Chronos is "freezing" and it is not possible to do anything

## Steps to Reproduce the Problem

  1. start chronos (it takes long to load)
  2. add log (fill out form and press "save")

## Specifications

  - Chronos-timetracker version: 4.2
  - OS: Windows 10

[2019-12-05 13:43] slimakovec opened #202 "High CPU usage"
## Expected Behavior
It's just timer. It shouldn't use more than 0.1% CPU.

## Actual Behavior
It usually uses more than 10% CPU. Also the CPU usage builds up in time, I need to restart Chronos every day in order to keep it around 10%. If I don't restart the app often, it can easily use more than 25% CPU.

## Steps to Reproduce the Problem

  1. Start Chronos
  1. Start tracking time
  1. Watch th

[2019-12-09 11:53] Zyamilon commented on #108
Hello. TY for the product!
We have same issue on v. 4.2.0 on ubuntu 19.04.
We tried appimage from site and snap package - same error with **libsecret**.
Can you help?)

[2019-12-10 13:21] slimakovec commented on #202
this is after running the app for one day without restart. I mean... Come on!

![Activity_Monitor__All_Processes__and_Chronos](https://user-images.githubusercontent.com/10071337/70532901-3a746500-1b58-11ea-922f-25fd7f251619.png)

[2019-12-10 13:22] slimakovec commented on #202
This is after running the app for one day without a restart. I mean... Come on!

![Activity_Monitor__All_Processes__and_Chronos](https://user-images.githubusercontent.com/10071337/70532998-6db6f400-1b58-11ea-9a85-fa3918db73c8.png)

[2019-12-10 15:16] VladimirPal commented on #202
Agree, It's not normal. what version it is?

[2019-12-10 15:19] VladimirPal commented on #202
![Untitled 2](https://user-images.githubusercontent.com/555405/70542293-c42c2e80-1b68-11ea-8d62-d0fbf01f930d.png)

[2019-12-11 09:05] slimakovec commented on #202
It's 4.2.0. I will profile the app for you once the usage is high

[2019-12-12 13:24] porn commented on #202
Similar here:
- `Chronos-4.0.0-x86_64.AppImage`
- `Ubuntu 18.04.3 LTS`
- `4.15.0-70-generic #79-Ubuntu SMP Tue Nov 12 10:36:11 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

CPU usage is ~1 full core:
![image](https://user-images.githubusercontent.com/983285/70715503-bbfbfc80-1cea-11ea-9b3e-7628ac956873.png)

...though I'd say I can run chronos for the whole week without increasing CPU consumption. Tha

[2019-12-12 13:56] slimakovec commented on #202
here is a brief snapshot of Chronos when the cpu usage is between 10% to 13%

It's OSX "Sample", is this format good for you?

[Sample of Chronos.txt](https://github.com/web-pal/chronos-timetracker/files/3956015/Sample.of.Chronos.txt)

[2019-12-13 08:41] porn commented on #202
Okay, I was wrong. Restarting chronos helped a lot :)
Currently at: _1-3%_ CPU usage.

[2020-01-10 17:07] kwri-avongluck commented on #191
Not working in 10.15.2.

"“Chronos” can’t be opened because Apple cannot check it for malicious software."

[2020-01-10 17:11] kwri-avongluck commented on #191
Workaround:
1. Move app to Applications
2. Right Click, Open. Then choose "Open"

[2020-01-23 10:24] Artur2 opened #203 "Crash when open link in comments"
## Expected Behavior
Click on link in comment, window loses focus and focusing on browser with newly opened tab (not like other Electron's crap - Skype)
## Actual Behavior
Application crashing
## Steps to Reproduce the Problem

  1. Add task to jira system, synchronize
  1. Add comment with link to task
  1. See disappearing of Chronos App in task manager

## Specifications

  - Chronos-timetracke

[2020-01-23 10:28] alxpsr commented on #203
same problem 👀

[2020-01-23 10:34] Artur2 commented on #201
I think it's because of connection to jira server with expired credentials
Catched same multiple times, need add guard for that with popup or smthg like that

[2020-02-24 08:17] slimakovec commented on #202
@VladimirPal any news on this?

[2020-03-31 01:32] areohbe opened #205 "Recommended development workflow?"
What is the recommended development workflow? I can get the app to build locally, but any changes kicks me back to the login. When I attempt to authenticate, the app hangs on the loading state.

Is there make changes to container and have those changes reload in place?

[2020-04-02 15:57] #191 closed, assigned to nobody

[2020-04-22 05:07] vmpnable opened #206 "Issue: License has expired"
Hi, my team and I have been using the Chronos Timetracker power-up on Trello. In the power-up details page, it made no mention about pricing, so we thought it was free; however, today, we're unable to use the power-up because it says "Chronos License has expired!" We can't seem to find the link for pricing on Trello, but I've found [this link](https://marketplace.atlassian.com/apps/1216398/chronos

[2020-05-05 15:02] rschalo commented on #146
I'd like to add a few shortcuts to a couple items, can I work on this?

[2020-05-08 18:27] adrianbeloqui opened #207 "Copy Jira Issue URL to clipboard"
## Expected Behavior

Button or right-click option to copy/get url of an issue from either (or both) the left panel with the list of issues or the issue detail panel.

## Actual Behavior

None. Couldn't find a way to copy into my clipboard the issue URL.

## Steps to Reproduce the Problem

1. Login
2. Get list of issues or select an issue to display on the right panel

## Specifications

  - Chron

[2020-05-08 18:35] adrianbeloqui opened #208 "UI Refresh"
## Expected Behavior

Every time an issue's workflow status is update when on the "Basic view" the left panel should reflect the change on the status. Or, hide the inner buttons in the "Basic view" to not cause confusion on the behavior of the UI.

## Actual Behavior

When viewing an issue in the right panel, if the "Basic view" is selected and you update the workflow status with the buttons that

[2020-05-22 05:30] weismannweb commented on #108
Yes I have this issue too:
https://drive.google.com/file/d/12kKEGXK3qJVv4b324MqMBqrk7pEDK2lD/view?usp=sharing

In the video you can see the error.
In the iceo you can see I have libsecrent.
In the video you can see I have keyring.

Whats wrong?  Something aroud here:?

I am on linux Ubuntu 18.04.4.

https://github.com/web-pal/chronos-timetracker/blob/4e4738eaa938546a19157a0199649ded3b841b09/app/re

[2020-05-27 20:44] GeorgeXCV commented on #206
Agree, loved the plugin until this happened. If you want to charge, fair enough. But the way it is presented on Trello makes it look like a free plugin, wasn't aware I was on a trial either.

[2020-05-29 10:18] johnorourke opened #209 "Filter by Epic does not see customised Epic issue-type"
## Expected Behavior

Using JIRA Cloud. We renamed the "Epic" issue type and have a custom issue schema, but issues still have the 'epic' field.

## Actual Behavior

In the filter, only Epics from the default issue schema are available.

## Steps to Reproduce the Problem

  1. Rename the Epic issue type
  2. create a custom issue type schema and include your renamed Epic in that
  3. assign the cu

[2020-06-09 15:43] da-jacob opened #211 "4.2.0 jira login problem"
## Expected Behavior
Log in

## Actual Behavior
After clicking on Continue after entering username and password it's stuck on loader.

## Steps to Reproduce the Problem

  1. open app
  2. enter jira url
  3. click continue
  4. enter username and password
  5. click Continue

## Specifications

  - Chronos-timetracker version: 4.2.0
  - OS: macOS 10.15.4

[2020-06-19 16:34] nwy140 opened #212 "Feature request: Please add Dark Mode"
It kinda hurts my eyes to use the application at night
I would be glad if there is a dark mode option.
Please add dark mode

Thanks.

## Specifications

  - Chronos-timetracker version: 4.2.0
  - OS: Windows OS

[2020-08-03 23:59] wkorku opened #216 "How can I choose Chronos to be a time tracker provider in Jira"
## Expected Behavior
Here: https://confluence.atlassian.com/adminjiracloud/configuring-time-tracking-818578858.html is described how in Jira I can restrict Work Logs to only be possible to be added by specific time tracking tool. I can't see in the dropdown option that allow me to assign Chronos to be a time tracking provider.

Jira Cloud

How can I achieve that?

[2020-08-25 10:06] Flegma opened #217 "Ubuntu 20.04 Chronos libsecret error"
## Expected Behavior
After Chronos is setup, logged in and turned off - after starting it again, it should be logged in again to the same Jira account.

## Actual Behavior
After Chronos is restarted, the login screen is back again and it says something about libsecret error.

## Steps to Reproduce the Problem

  1. Install Chronos on Ubuntu 20.04 via "Ubuntu software"
  2. Login and setup Chronos

[2020-08-25 15:01] LuckyType opened #218 "Configurable Font-Sizes"
I'm using Chronos on my rather small laptop screen in combination with 2 27" Monitors.

I would really appreciate the possibility to customize the Font-Size within the Issue-Stream.

[2021-01-21 15:40] plonerp commented on #202
![image](https://user-images.githubusercontent.com/13963742/105373797-54abbe00-5c07-11eb-83c0-a4023d4525b7.png)

Still same on the latest version

[2021-01-31 17:37] eins commented on #192
Hello folks

@VladimirPal  any progress with this feature request: dark mode ?

the same question is in this issue https://github.com/web-pal/chronos-timetracker/issues/212, can we close it  and link to #192 ?

thanks

[2021-02-12 15:39] anAgent opened #225 "Unable to scroll to accept terms of installation"
## Expected Behavior
Ability to scroll on smaller screens

## Actual Behavior
Unable to scroll to accept terms of installation

## Steps to Reproduce the Problem

  1. Install the Application
  1. Choose Trello as source
  1. Issue: Can't accept or scroll to content:

![image](https://user-images.githubusercontent.com/2146464/107788242-ce6e2d80-6d15-11eb-9b6f-e15270515fef.png)

## Specifications

[2021-03-10 21:43] bandorko commented on #217
I experienced the same issue with:
OS: Ubuntu 18.04.3 LTS
Chronos-timetracker version: 4.2.0

[2021-05-13 00:34] veeramarni commented on #202
Is it because of using screenshot-desktop package instead of native Electron screenshot?

[2021-05-13 07:27] porn commented on #202
the high CPU problem is present even when the screenshots are disabled

[2021-05-21 10:30] plonerp opened #232 "Support for Apple M1"
Hi, is there any planed release which will add native support for apple m1 processor instead of running through rosetta 2?

[2021-07-27 13:18] Yozhig commented on #76
Still does not work. Version 5.0.1.

[2021-10-29 14:58] plonerp commented on #232
Hi, is this project dead? I see no response 👎

[2022-03-10 23:01] gsprdev commented on #76
@rjmunro described the issue well, and it is still an issue in the latest version (I have never seen an earlier version).

Even though multiple login types appear supported, all of it is exposed through an embedded web view rather than by calling out to the standard web browser. The fact remains that to log in my only choice would be to type my company-wide SSO credentials directly into this app,

[2022-03-30 23:06] MurthyGithub opened #250 "Developer mode in Window 10- Extensions are not able to install in chronos app"
## Expected Behavior
Should be able to view redux extension to view state management and other react plugins.

## Actual Behavior
In developer mode not able to add extensions

## Steps to Reproduce the Problem

  1. Open the chronos app in window 10

## Specifications

  - Chronos-timetracker version: latest
  - OS: Window 10

[2022-05-01 16:39] farazahmadvaival opened #252 "FATAL:gpu_data_manager_impl_private.cc(442)] on ubuntu 22.04"
## Expected Behavior
I downloaded the chronos app from website and when i try to run the app it shows me below error.

[5007:0501/213438.385587:FATAL:gpu_data_manager_impl_private.cc(442)] GPU process isn't usable. Goodbye.
Illegal instruction (core dumped)

## Steps to Reproduce the Problem

  1. Download the app and try to run via terminal. Error will be printed in the console.

## Specification

[2022-09-14 02:57] #116 closed

[2022-11-07 19:49] bkahlerventer commented on #252
also getting the exact same error on PopOS based on ubuntu 22.04

[2022-11-07 19:59] bkahlerventer commented on #252
on closer inspection, I do not think the code is in a state to build, the current release no longer functions, code was last committed in 2019.  Project appears to be abandoned.  will investigate further

[2022-11-16 11:25] Oktopuce commented on #252
Same problem for me with Ubuntu 22.04
Did you find an alternative app ?

[2022-11-16 11:28] VladimirPal commented on #252
Hi!
Current version of the app is not working. The app has been changed a lot, i will sync Electron client in the next two weeks.